<div class="account-forms" data-module="account-forms" v-cloak>
  {%- case view -%}
    {%- when 'register' -%} {%- render 'account-register-form' -%}
    {%- when 'reset' -%} {%- render 'account-reset-form' -%}
    {%- when 'activate' -%} {%- render 'account-activate-form' -%}
    {%- when 'login' -%}
      {%- render 'account-login-form' -%}
      {%- render 'account-recover-form' -%}
  {%- endcase -%}
</div>
