<div class="accordion" data-module="accordion">
  <div class="accordion__container container container--xl">
    <div class="accordion__wrapper">
      {%- for faq in faqs -%}
      {%- assign item = faq.settings -%}
      {%- assign title = item['title'] -%}
      {%- assign description = item['description'] -%}

      <div class="accordion__item js-item">
        {%- if title != blank -%}
          <button class="h3 align-l accordion__btn js-btn" type="button">{{ title }}</button>
          <div class="accordion__content js-content">
            <div class="wysiwyg accordion__content-inner">
              {{ description }}
            </div>
          </div>
        {%- endif -%}
      </div>

      {%- assign item = nil -%}
      {%- assign title = nil -%}
      {%- assign description = nil -%}
      {%- endfor -%}
    </div>
  </div>
</div>
