{%- assign error_msg = 'customer.register.error' | t -%}

<div is="account-register-form" inline-template>
  <div @submit="validate" class="container container--xxs">
    {%- assign title = 'customer.register.title' | t -%}
    {%- render 'page-title', title: title -%}

    <div data-a-stagger>
      {%- form 'create_customer', class: 'mha' -%}
        {%- render 'form-errors', errors: form.errors -%}

        <div class="form-row">
          {%- assign label = 'customer.register.first_name' | t -%}
          {%- assign placeholder = 'customer.register.first_name_placeholder' | t -%}
          {%- render 'text-input' with
            name: 'customer[first_name]',
            label: label,
            placeholder: placeholder,
            show_placeholder: true,
            error: error_msg,
            class: 'text-input--account',
            required: true -%}
        </div>

        <div class="form-row">
          {%- assign label = 'customer.register.last_name' | t -%}
          {%- assign placeholder = 'customer.register.last_name_placeholder' | t -%}
          {%- render 'text-input' with
            name: 'customer[last_name]',
            label: label,
            placeholder: placeholder,
            show_placeholder: true,
            error: error_msg,
            class: 'text-input--account',
            required: true -%}
        </div>

        <div class="form-row">
          {%- assign label = 'customer.register.email' | t -%}
          {%- assign placeholder = 'customer.register.email_placeholder' | t -%}
          {%- render 'text-input' with
            name: 'customer[email]',
            type: 'email',
            label: label,
            placeholder: placeholder,
            show_placeholder: true,
            error: error_msg,
            class: 'text-input--account',
            required: true -%}
        </div>

        <div class="form-row">
          {%- assign label = 'customer.register.password' | t -%}
          {%- assign placeholder = 'customer.register.password_placeholder' | t -%}
          {%- render 'text-input' with
            name: 'customer[password]',
            type: 'password',
            label: label,
            placeholder: placeholder,
            show_placeholder: true,
            error: error_msg,
            class: 'text-input--account',
            required: true -%}
        </div>

        <div class="form-row">
          {%- assign label = 'customer.register.subscribe' | t -%}
          {%- render 'checkbox' with
            name: 'customer[accepts_marketing]',
            label: label,
            value: true -%}
        </div>

        <div class="form-row form-row--button">
          {%- assign value = 'customer.register.submit' | t -%}
          {%- render 'button',
            value: value,
            type: 'submit',
            class: 'btn--primary btn--full-width btn--outlined' -%}
        </div>

        <div class="form-row align-c">
          <p class="p">{{ 'customer.register.already_registered' | t }} <a class="link underline" href="/account/login">{{- 'customer.register.sign_in' | t -}}</a></p>
        </div>

      {%- endform -%}
    </div>

  </div>
</div>
