<div
  class="account-new-addr"
  is="account-new-address"
  :first-name="activeAddress.firstName"
  :last-name="activeAddress.lastName"
  :company="activeAddress.company"
  :address1="activeAddress.address1"
  :address2="activeAddress.address2"
  :city="activeAddress.city"
  :province="activeAddress.province"
  :zip="activeAddress.zip"
  :country="activeAddress.country"
  :phone="activeAddress.phone"
  :is-default="activeAddress.isDefault"
  :id="activeAddress.id"
  :toggle-new-address-form="toggleNewAddressForm"
  :key="'address-' + activeAddress.id"
  inline-template>
  <div ref="wrapper">

    <form @submit="validate" method="post" :action="formAction" id="address_form_new" accept-charset="UTF-8">
      <input type="hidden" name="form_type" value="customer_address" />
      <input type="hidden" name="utf8" value="✓" />
      <input v-if="id" type="hidden" name="_method" value="put" />

      {%- if form.errors -%}
        {{- form.errors | default_errors -}}
      {%- endif -%}

      <h4 class="h4 address-form__title align-c" ref="title">{{- 'customer.addresses.add' | t -}}</h4>

      <div class="address-form__group">
        <div class="address-form__input">
          {%- render 'text-input' with
            name: 'address[first_name]',
            label: 'First Name',
            change: 'onInputChange',
            initial_value: "getInitialValue",
            error: 'First Name is required',
            required: true -%}
        </div>

        <div class="address-form__input">
          {%- render 'text-input' with
            name: 'address[last_name]',
            label: 'Last Name',
            change: 'onInputChange',
            initial_value: "getInitialValue",
            error: 'Last Name is required',
            required: true -%}
        </div>
      </div>

      <div class="address-form__group">
        <div class="address-form__input">
          {%- render 'text-input' with
            name: 'address[company]',
            label: 'Company',
            change: 'onInputChange',
            initial_value: "getInitialValue", -%}
        </div>
        <div class="address-form__input">
          {%- render 'text-input' with
          name: 'address[phone]',
          label: 'Phone',
          change: 'onInputChange',
          initial_value: "getInitialValue" -%}
        </div>
      </div>

      <div class="address-form__group">
        <div class="address-form__input">
          {%- render 'text-input' with
            name: 'address[address1]',
            label: 'Address',
            change: 'onInputChange',
            initial_value: "getInitialValue",
            error: 'Address is required',
            required: true -%}
        </div>
        <div class="address-form__input">
          {%- render 'text-input' with
            name: 'address[address2]',
            label: 'Apt, Suite, etc. (optional)',
            change: 'onInputChange',
            initial_value: "getInitialValue",
            required: false -%}
        </div>
      </div>

      <div class="address-form__group">
        <div class="address-form__input">
        {%- render 'text-input' with
          name: 'address[city]',
          label: 'City',
          change: 'onInputChange',
          initial_value: "getInitialValue",
          error: 'City is required',
          required: true -%}
        </div>
        <div class="address-form__input">
          {%- render 'select-input' with
            name: 'address[country]',
            label: 'Country',
            value: 'US',
            dynamic_value: "getInitialValue",
            dynamic_options: 'generateCountryArray',
            change: 'onInputChange',
            error: 'Country is required',
            required: true -%}
        </div>
      </div>

      <div class="address-form__group">
        <div :key="country" class="address-form__input" v-if="showProvinceSelect">
        {%- render 'select-input' with
          name: 'address[province]',
          label: 'State',
          change: 'onInputChange',
          dynamic_value: "getInitialValue",
          dynamic_options: 'generateProvinceArray',
          error: 'Province is required',
          required: true -%}
        </div>
        <div :key="country" class="address-form__input" v-else="showProvinceSelect"></div>

        <div class="address-form__input">
          {%- render 'text-input' with
            name: 'address[zip]',
            label: 'Zip / Postal Code',
            initial_value: "getInitialValue",
            validation: 'isValidZip',
            change: 'onInputChange',
            error: 'Zip is required'
            required: true -%}
        </div>
      </div>

      {%- render 'checkbox' with
        name: 'address[default]',
        label: 'Set as default address.',
        class: 'account-form__checkbox'
        dynamic_checked: "getInitialValue('address[default]')",
        change: 'onInputChange'
      -%}

      <p class="pt1 f address-form__group-button">
        {%- assign value = 'customer.addresses.add' | t -%}
        {%- render 'button',
          value: value,
          type: 'submit',
          class: 'btn--primary' -%}
        <button class="underline address-form__button-cancel" v-on:click.prevent="toggleNewAddressForm(false)">
          {{- 'customer.addresses.cancel' | t -}}
        </button>
      </p>
    </form>
  </div>
</div>
