{% assign carousel_options = carousel_options | default: '{"cellAlign": "left", "groupCells": true, "contain": true, "pageDots": true, "prevNextButtons": true, "autoPlay": true}' %}

<div is="base-modules">
  <base-modules>
    <div is="carousel">
      <carousel
        class="carousel-grid"
        :options='{{ carousel_options }}'
      >
        <div class="carousel__item">1</div>
        <div class="carousel__item">2</div>
        <div class="carousel__item">3</div>
        <div class="carousel__item">4</div>
        <div class="carousel__item">4</div>
      </carousel>
    </div>
  </base-modules>
</div>
