{%- comment -%}
  Parameters
  * title
{%- endcomment -%}

<div class="blog-hero-basic">
  <div class="container container--xl blog-hero-basic__container">
    <h1 class="h2 align-c blog-hero-basic__title">{{- title -}}</h1>
  </div>
</div>
