{%- comment -%}
  Parameters
  * fields
{%- endcomment -%}

{%- assign enable = fields.enable -%}
{%- assign inverted_mode = fields.inverted_mode -%}
{%- assign enable_overlay = fields.enable_overlay -%}
{%- assign title = fields.title -%}
{%- assign tagline_1 = fields.tagline_1 -%}
{%- assign title_1 = fields.title_1 -%}
{%- assign cta_text_1 = fields.cta_text_1 -%}
{%- assign cta_url_1 = fields.cta_url_1 -%}
{%- assign background_type_1 = fields.background_type_1 -%}
{%- assign image_1 = fields.image_1[0].src -%}
{%- assign image_s_1 = fields.image_s_1[0].src -%}
{%- assign image_l_1 = fields.image_l_1[0].src -%}
{%- assign image_alt_1 = fields.image_l_1.alt -%}
{%- assign video_1 = fields.video_1 -%}
{%- assign id_1 = order | append: '-1' -%}
{%- assign background_type_2 = fields.background_type_2 -%}
{%- assign tagline_2 = fields.tagline_2 -%}
{%- assign title_2 = fields.title_2 -%}
{%- assign cta_text_2 = fields.cta_text_2 -%}
{%- assign cta_url_2 = fields.cta_url_2 -%}
{%- assign image_2 = fields.image_2[0].src -%}
{%- assign image_s_2 = fields.image_s_2[0].src -%}
{%- assign image_l_2 = fields.image_l_2[0].src -%}
{%- assign image_alt_2 = fields.image_l_2.alt -%}
{%- assign video_2 = fields.video_2 -%}
{%- assign id_2 = order | append: '-2' -%}

{%- if enable != blank -%}
  <div class="content-grid content-grid--2-items page-flex__item" style="order: {{- order -}}">
    <div class="container container--xl content-grid__container">
      {%- if title != empty -%}
        <h2 class="h3 content-grid__title">
          {{- title -}}
        </h2>
      {%- endif -%}

      <div class="f fw content-grid__list">
        {%- render 'content-grid-item' with background_type_1 as background_type,
          inverted_mode: inverted_mode,
          enable_overlay: enable_overlay,
          overlay_opacity: overlay_opacity,
          tagline: tagline_1,
          title: title_1,
          cta_text: cta_text_1,
          cta_url: cta_url_1,
          image_mobile:  image_1,
          image_intermediate: image_s_1,
          image: image_l_1,
          image_alt: image_alt_1,
          video: video_1,
          id: id_1
        -%}

        {%- render 'content-grid-item' with background_type_2 as background_type,
          inverted_mode: inverted_mode,
          enable_overlay: enable_overlay,
          overlay_opacity: overlay_opacity,
          tagline: tagline_2,
          title: title_2,
          cta_text: cta_text_2,
          cta_url: cta_url_2,
          image_mobile:  image_2,
          image_intermediate: image_s_2,
          image: image_l_2,
          image_alt: image_alt_2,
          video: video_2,
          id: id_2
        -%}
      </div>
    </div>
  </div>
{%- endif -%}
