{%- comment -%}
  Parameters
  * is_vue
  * show_button
  * text
{%- endcomment -%}
{%- assign is_vue = is_vue | default: false -%}
{%- assign show_button = show_button | default: false -%}
{%- assign text = text | default: "This is an empty view!" -%}

<div class="empty-view align-c bg-parchment">
  <h5 class="p1 empty-view__title">
    {{ text }}
    {%- if show_button -%}
      <a class="p1 underline empty-view__button" href="/"> Shop Now</a>
    {%- endif -%}
  </h5>
</div>
