{%- comment -%}
  Parameters
  * fields
  * collection_handles
  * default_subtitle
  * default_aspect_ratio
{%- endcomment -%}

{%- for enable in fields.lookbook_enable -%}
  {%- if enable -%}
    {%- assign order = fields.lookbook_order[forloop.index0] -%}
    {%- assign media_type = fields.lookbook_media_type[forloop.index0] -%}
    {%- assign aspect_ratio = fields.lookbook_aspect_ratio[forloop.index0] | default: default_aspect_ratio -%}
    {%- assign image = fields.lookbook_image[forloop.index0][0].src -%}
    {%- assign image_s = fields.lookbook_image_s[forloop.index0][0].src -%}
    {%- assign image_l = fields.lookbook_image_l[forloop.index0][0].src -%}
    {%- assign video = fields.lookbook_video[forloop.index0] -%}
    {%- assign video_s = fields.lookbook_video_s[forloop.index0] -%}
    {%- assign video_l = fields.lookbook_video_l[forloop.index0] -%}
    {%- assign title = fields.lookbook_title[forloop.index0] -%}
    {%- assign description = fields.lookbook_description[forloop.index0] -%}
    {%- assign subtitle = fields.lookbook_subtitle[forloop.index0] | default: default_subtitle -%}
    {%- assign products = fields.lookbook_products[forloop.index0] | split: '|' -%}

    <div class="flex-lookbook" style="order: {{ order }}">
      <div class="flex-lookbook__container container--fluid container--xl" data-a-group>
        <div class="flex-lookbook__media">
          {%- render 'media' with media_type,
            aspect_ratio: aspect_ratio,
            image: image,
            image_s: image_s,
            image_l: image_l,
            video: video,
            video_s: video_s,
            video_l: video_l,
            autoplay: true,
            is_vue: false
          -%}
        </div>
        <div class="flex-lookbook__content f aic jcc align-c" data-module="flex-lookbook">
          <div class="flex-lookbook__content-inner">
            {%- if title != blank -%}
              <h2 class="h3 flex-lookbook__title" data-a-stagger>{{- title -}}</h2>
            {%- endif -%}
            {%- if description != blank -%}
              <p class="flex-lookbook__description" data-a-stagger>{{- description -}}</p>
            {%- endif -%}
            {%- if subtitle != blank -%}
              <h3 class="tagline flex-lookbook__subtitle" data-a-stagger>{{- subtitle -}}</h3>
            {%- endif -%}

            <div class="flex-lookbook__product-grid f fw jcc" data-a-stagger>
              {%- for handle_variant in products -%}
                {%- assign product_handle = handle_variant | split: ':' | first -%}
                {%- assign variant_id = handle_variant | split: ':' | last | plus: 0 -%}
                {%- assign variant = nil -%}
                {%- assign product = nil -%}

                {%- for collection_handle in collection_handles -%}
                  {%- assign collection = collections[collection_handle] -%}

                  {%- for collection_product in collection.products -%}
                    {%- if collection_product.handle == product_handle -%}
                      {%- assign product = collection_product -%}
                      {% break %}
                    {%- endif -%}
                  {%- endfor -%}
                {%- endfor -%}

                {%- if product == nil -%}
                  {%- assign product = all_products[product_handle] -%}
                {%- endif -%}

                {%- for product_variant in product.variants -%}
                  {%- if product_variant.id == variant_id -%}
                    {%- assign variant = product_variant -%}
                    {% break %}
                  {%- endif -%}
                {%- endfor -%}

                {%- render 'flex-lookbook-product',
                  product: product,
                  variant: variant
                -%}
              {%- endfor -%}
            </div>
          </div>
        </div>
      </div>
    </div>
  {%- endif -%}
{%- endfor -%}
