{%- assign enable_sticky = section.settings.enable_sticky -%}

{%- assign title = section.settings.title -%}
{%- assign cta_text = section.settings.cta_text -%}
{%- assign cta_link = section.settings.cta_link -%}

<section class="flexible-header" data-sticky="{{ enable_sticky }}" data-module="flexible-header">
  <div class="flexible-header__container container container--xl">
    <div class="flexible-header__inner f aic jcb">
      {%- if title != blank -%}
        <h1 class="flexible-header__title h4">
          {{ title }}
        </h1>
      {%- endif -%}
      {%- if cta_text != blank and cta_link != blank -%}
        <div class="flexible-header__button">
          {%- render 'button' with 'link'
            class: 'btn--primary',
            href: cta_link,
            value: cta_text -%}
        </div>
      {%- endif -%}
    </div>
  </div>
</section>
