{%- comment -%}
  Parameters
  * fields
{%- endcomment -%}

{%- if fields != blank -%}
  {%- for enable in fields.enable -%}
    {%- if enable -%}
      {%- assign order = fields.order[forloop.index0] -%}
      {%- assign inverted_mode = fields.inverted_mode[forloop.index0] -%}
      {%- assign enable_overlay = fields.enable_overlay[forloop.index0] -%}
      {%- assign tagline_1 = fields.tagline_1[forloop.index0] -%}
      {%- assign title_1 = fields.title_1[forloop.index0] -%}
      {%- assign cta_text_1 = fields.cta_text_1[forloop.index0] -%}
      {%- assign cta_url_1 = fields.cta_url_1[forloop.index0] -%}
      {%- assign background_type_1 = fields.background_type_1[forloop.index0] -%}
      {%- assign image_1 = fields.image_1[forloop.index0][0].src -%}
      {%- assign image_s_1 = fields.image_s_1[forloop.index0][0].src -%}
      {%- assign image_l_1 = fields.image_l_1[forloop.index0][0].src -%}
      {%- assign image_alt_1 = fields.image_l_1[forloop.index0].alt -%}
      {%- assign video_1 = fields.video_1[forloop.index0] -%}
      {%- assign id_1 = order | append: '-1' -%}
      {%- assign background_type_2 = fields.background_type_2[forloop.index0] -%}
      {%- assign tagline_2 = fields.tagline_2[forloop.index0] -%}
      {%- assign title_2 = fields.title_2[forloop.index0] -%}
      {%- assign cta_text_2 = fields.cta_text_2[forloop.index0] -%}
      {%- assign cta_url_2 = fields.cta_url_2[forloop.index0] -%}
      {%- assign image_2 = fields.image_2[forloop.index0][0].src -%}
      {%- assign image_s_2 = fields.image_s_2[forloop.index0][0].src -%}
      {%- assign image_l_2 = fields.image_l_2[forloop.index0][0].src -%}
      {%- assign image_alt_2 = fields.image_l_2[forloop.index0].alt -%}
      {%- assign video_2 = fields.video_2[forloop.index0] -%}
      {%- assign id_2 = order | append: '-2' -%}

      <div class="content-grid content-grid--2-items page-flex__item" style="order: {{- order -}}">
        <div class="container container--xl content-grid__container">
          <div class="f fw content-grid__list">
            {%- render 'content-grid-item' with background_type_1 as background_type,
              inverted_mode: inverted_mode,
              enable_overlay: enable_overlay,
              overlay_opacity: overlay_opacity,
              tagline: tagline_1,
              title: title_1,
              cta_text: cta_text_1,
              cta_url: cta_url_1,
              image_mobile:  image_1,
              image_intermediate: image_s_1,
              image: image_l_1,
              image_alt: image_alt_1,
              video: video_1,
              id: id_1
            -%}

            {%- render 'content-grid-item' with background_type_2 as background_type,
              inverted_mode: inverted_mode,
              enable_overlay: enable_overlay,
              overlay_opacity: overlay_opacity,
              tagline: tagline_2,
              title: title_2,
              cta_text: cta_text_2,
              cta_url: cta_url_2,
              image_mobile:  image_2,
              image_intermediate: image_s_2,
              image: image_l_2,
              image_alt: image_alt_2,
              video: video_2,
              id: id_2
            -%}
          </div>
        </div>
      </div>
    {%- endif -%}
  {%- endfor -%}
{%- endif -%}
