<section class="flexible-icon-list">
  <div class="flexible-icon-list__container container container--xl">
    <div class="flexible-icon-list__items f jcb">
      {%- for block in section.blocks -%}
        <div class="flexible-icon-list__item">
          <div class="ratio ro-1 w1 flexible-icon-list__item-icon">
            {%- render 'picture',
              sources: block.settings.icon,
              alt: block.settings.icon.alt,
              object_fit: 'contain',
              loader: false
            -%}
          </div>
          <p class="block w1 align-c flexible-icon-list__item-text h5 bold">{{ block.settings.text }}</p>
        </div>
      {%- endfor -%}
    </div>
  </div>
</section>
