{%- comment -%}
  Parameters
  * errors
{%- endcomment -%}
{%- if errors -%}
  {%- for field in errors -%}
    {%- if field == 'form' -%}
      <p class="p red">{{- errors.messages[field] -}}</p>
    {%- else -%}
      <p class="p red">{{ errors.translated_fields[field] | capitalize }} {{ errors.messages[field] }}.</p>
    {%- endif -%}
  {%- endfor -%}
{%- endif -%}
