<div class="gather-raf-wrapper">
  <div class="gather-row">
    <div class="gather-column-1 box">
    </div>
    <div class="gather-column-2 box">
      <div class="gather-raf-dashboard" id="gather-inline-98e3d5d07a0002f4221d" style="max-width: 600px; height: 600px; margin-top: 100px; margin-left: auto; margin-bottom: 80px; margin-right: auto;"></div>
    </div>
  </div>
  <div class="gather-row">
    <div class="gather-column-1 box">
    </div>
    <div class="gather-column-2 box">
      <div class='gather-faq-link'>
        <a href="https://www.wkndnation.com/pages/frequently-asked-questions" target='_blank'>WkndNation FAQ's</a>
      </div>
    </div>
  </div>
</div>

{% comment %} <div class="text-and-image__wrapper" data-a-group>
  <div class="text-and-image__container container container--xl">
    <div class="text-and-image__inner text-and-image__inner--content-left">
      <div class="relative text-and-image__block text-and-image__media">
        <div id="gather-inline-98e3d5d07a0002f4221d" style="border-bottom: 20px solid #0b0fd5; max-width: 600px; height: 600px; margin-top: 80px; margin-left: auto; margin-right: auto; margin-bottom: auto;"></div>
        <br>
      </div>
      <div class="text-and-image__block text-and-image__content text-and-image__content--left">
        <div class="text-and-image__content-inner">
          {% if section.settings.tagline != blank %}
            <p class="tagline text-and-image__tagline" data-a-stagger>
              {{ section.settings.tagline }}
            </p>
          {% endif %}
          {% if section.settings.title != blank %}
            <h2 class="h3 text-and-image__title" data-a-stagger>
              {{ section.settings.title }}
            </h2>
          {% endif %}
          {% if section.settings.copy != blank %}
            <div class="text-and-image__intro" data-a-stagger>
              {{ section.settings.copy }}
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div> {% endcomment %}
