<header
  class="header"
  data-module="header"
>
  <div class="header__wrap">
    <div class="container header__container">
      <div class="header__inner">
        <div class="header__left">
          {% render 'nav-trigger' %}
          {% render 'logo' with settings.logo,
            class: 'header__logo'
          %}
        </div>
        <div class="header__center">
          Menu
        </div>
        <div class="header__right">
          {% render 'search-trigger' %}
          {% render 'header-cart' %}
        </div>
      </div>
    </div>
  </div>
</header>
