{%- if primary_menu.links.size > 0 -%}
  <nav class="header-slideout" data-component="header-slideout">
    {%- for link in primary_menu.links  -%}
      <a href="{{ link.url }}">{{ link.title }}</a>
    {%- endfor -%}
  </nav>
{%- endif -%}

{%- if secondary_menu.links.size > 0 -%}
  <nav class="header-slideout" data-component="header-slideout">
    {%- for link in primary_menu.links  -%}
      <a href="{{ link.url }}">{{ link.title }}</a>
    {%- endfor -%}
  </nav>
{%- endif -%}
