<div class="header-search" :class="{ 'header-search--is-active': state.isSearchOpen }" data-module="header-search">
  <form
    action="/search"
    class="header-search__form"
    @keydown="handleKeydown"
    v-click-outside="handleClickOutside">
    <button type="submit" title="Fetch search results" aria-label="Fetch search results" class="header-search__submit">
      <i class="header-search__submit-icon">
        {%- render 'icon' with 'icon-search-input' -%}
      </i>
    </button>
    <div class="header-search__input-wrapper">
      <input
        class="header-search__input"
        type="text"
        placeholder="Search by keyword, style, etc..."
        aria-label="Search by keyword, style, etc..."
        name="q"
        value="{{ search.terms | escape }}"
        ref="searchInput"
        autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"
      />
    </div>
    <input type="hidden" name="type" value="{{ settings.search_mode }}" />
  </form>
</div>
