<li class="header-side__item">
  <button class="header-side__link is-icon a1 js-side-link">
    <span role="img" class="header-side__icon--wishlist">
      {%- render 'icon' with 'icon-star-full' -%}
    </span>
    <span class="sr-only">Wishlist</span>
  </button>
</li>
