<div class="grid header-bar gutter">
  <div class="header-bar--left column column--9">
    <button aria-label="Open Menu">Menu</button>
  </div>
  <div class="header-bar--right column column--9">
    <a class="button" href="/collections/all">Shop</a>
    <button class="button">Cart</button>
  </div>
</div>

<style>
.header-bar--right {
  text-align: right;
}
</style>