<li class="header-side__item is-search" data-module="header-search-icon">
  <button type="button" role="switch" aria-checked="false" :aria-checked="this.state.isSearchOpen ? 'true' : 'false'" class="header-side__link is-icon a1 js-side-link js-header-search-toggle" aria-haspopup="true" id="search-btn" @click="toggleSearchOverlay">
    <span class="header-side__item-icon">
      <span aria-hidden="true" class="header-side__icon--search icon-search" v-if="!state.isSearchOpen">
        {%- render 'icon' with 'icon-search' -%}
      </span>
      <span aria-hidden="true" v-else class="header-side__icon--search icon-close">
        {%- render 'icon' with 'icon-search-close' -%}
      </span>
    </span>
    <label for="search-btn" class="header-side__item-text">Search Toggle</label>
  </button>
</li>
