{%- if heading -%}
  <h1 class="h1">{{ heading }}</h1>
{%- endif -%}

{%- if paragraph -%}
  <p>{{ paragraph }}</p>
{%- endif -%}

{%- if button_label and button_url -%}
  <a class="button" href="{{ button_url }}">{{ button_label }}</a>
{%- endif -%}
