{%- if slides -%}
  <div 
    data-component="hero-carousel" 
    class="h-100 ov-h relative"
  >
    <div class="swiper-wrapper">
      {%- for slide in slides -%}
        {%- if slide.settings.image -%}
          <img
            loading="lazy"
            class="swiper-slide cover"
            src="{{ slide.settings.image | image_url: width: 1440 }}" alt="{{ slide.settings.image.alt }}"
          />
        {%- endif -%}
      {%- endfor -%}
    </div>
    <div class="swiper-pagination"></div>
  </div>
{%- endif -%}
