{%- comment -%}
  Parameters
  * title
  * text
  * is_vue
{%- endcomment -%}

{%- if is_vue -%}<div data-module="hero-search" v-cloak>{%- endif -%}
  {%- render 'hero',
    title: title,
    text: text,
    alignment: 'center',
    position: 'center',
    image_sources: 'https://via.placeholder.com/1920x1200',
    class: 'hero--search'
  -%}
{%- if is_vue -%}</div>{%- endif -%}
