{%- comment -%}
  Parameters
  * class
  * is_fullwidth
  * top_spacing
  * bottom_spacing
{%- endcomment -%}
{%- assign is_fullwidth = is_fullwidth | default: false -%}
{%- capture css -%}
  horizontal-rule mt-{{ top_spacing }} mb-{{ bottom_spacing }} {{ class }}
{%- endcapture -%}

<section class="{{- css | strip -}}">
  {%- unless is_fullwidth -%}<div class="container container--xl">{%- endunless -%}
    <div class="horizontal-rule__line"></div>
  {%- unless is_fullwidth -%}</div>{%- endunless -%}
</section>
