{%- comment -%}
  Parameters
  * items
  * grid_class
{%- endcomment -%}

{%- if items.size > 0 -%}
  <div class="icon-text-grid{% if grid_class != blank %} {{ grid_class }}{% endif %}">
    <div class="icon-text-grid__inner">
      <div class="icon-text-grid__list">
        {%- for item in items -%}
          {%- render 'icon-text' with item.settings.icon_type as icon_type,
            class: 'icon-text-grid__item'
            label: item.settings.label,
            text: item.settings.text,
            icon_svg: item.settings.icon_svg,
            icon_jpeg_png: item.settings.icon_jpeg_png -%}
        {%- endfor -%}
      </div>
    </div>
  </div>
{%- endif -%}
