{% if title != blank %}
  <div class="intro-text" data-a-group>
    <div class="container container--xl intro-text__container">
      <div class="f fw aic jcc intro-text__content">
        <h2 class="align-c h1 intro-text__title" data-a-stagger data-remain-underline="true">{{ title }}</h2>
        {% if description != blank %}
          <div class="align-c intro-text-description intro-text__description">{{ description }}</div>
        {%- endif -%}
      </div>
    </div>
  </div>
{%- endif -%}
