{%- assign fields = page.metafields.lookbook -%}
{%- assign enable = fields.hero_enable | default: false -%}
{%- assign background_type = fields.hero_background_type -%}
{%- assign image = fields.hero_image[0].src -%}
{%- assign image_s = fields.hero_image_s[0].src -%}
{%- assign image_l = fields.hero_image_l[0].src -%}
{%- assign video = fields.hero_video -%}
{%- assign video_s = fields.hero_video_s -%}
{%- assign video_l = fields.hero_video_l -%}
{%- assign aspect_ratio = fields.hero_aspect_ratio | default: 1 -%}
{%- assign autoplay = fields.hero_autoplay -%}

<div class="lookbook-hero" data-a-group>
  <h1 class="h1 lookbook-hero__title" data-a-stagger>{{- page.title -}}</h1>

  {%- if page.content != blank -%}
    <p class="lookbook-hero__content" data-a-stagger>{{- page.content -}}</p>
  {%- endif -%}

  {%- if enable -%}
    {%- render 'media' with background_type,
      classes: 'lookbook-hero__media'
      image: image,
      image_s: image_s,
      image_l: image_l,
      video: video,
      video_s: video_s,
      video_l: video_l,
      aspect_ratio: aspect_ratio,
      autoplay: autoplay,
      is_vue: false
    -%}
  {%- endif -%}
</div>
