{%- comment -%}
  Parameters
  * item
{%- endcomment -%}

<div class="media-two-up__block ratio">
  {%- case type -%}
    {%- when 'image' -%}
      {%- assign image = item['image'] | img_url: '2160x' -%}
      {%- assign image_intermediate = item['image_intermediate'] | img_url: '1200x'-%}
      {%- assign image_mobile = item['image_mobile'] | img_url: '700x' -%}
      {%- assign title = item['image_alt']-%}

      {%- capture image_src_media -%}
        <source media="(max-width: 767px)" data-srcset="{{- image_mobile -}}">
        <source media="(min-width: 768px) and (max-width: 999px)" data-srcset="{{- image_intermediate -}}">
        <source media="(min-width: 1000px)" data-srcset="{{- image -}}">
      {%- endcapture -%}

      {%- render 'image',
        class: 'media-two-up__img',
        src: image,
        src_media: image_src_media,
        text: title,
        loader: false -%}

    {%- when 'video' -%}
      {%- assign fallback = item['fallback'] | img_url: '700x' -%}
      {%- assign fallback_s = item['fallback_intermediate'] | img_url: '1200x' -%}
      {%- assign fallback_l = item['fallback_desktop'] | img_url: '2160x' -%}
      {%- render 'video',
        class: 'media-two-up__img',
        video: item['video_mobile'],
        video_s: item['video_intermediate'],
        video_l: item['video'],
        fallback: item['fallback'],
        fallback_s: item['fallback_intermediate'],
        fallback_l: item['fallback_desktop'],
        is_vue: false -%}
  {%- endcase -%}
</div>
