{%- unless template contains 'cart' -%}
  <div data-module="mini-cart" data-vue-app="true" v-cloak>
    <div is="mini-cart" inline-template>
      <div>
        <transition name="mini-cart">
          <div role="dialog" aria-modal="true" key="mini-cart" class="mini-cart bg-white relative" v-show="app.isMiniCartOpen" style="display:none" ref="miniCart" >
            {%- render 'shipping-calculator' -%}

            <div class="container mini-cart__header" ref="cartHeader">
              <h1 class="h3 mini-cart__header__title">
                {{- 'cart.general.title' | t -}}
              </h1>
              <div class="mini-cart__close">
                <button class="is-icon a1" href="/" @click="toggleMiniCart" ref="closeButton">
                  <i>
                    {%- render 'icon' with 'icon-close' -%}
                  </i>
                  <span class="sr-only">{{ 'cart.general.close_cart' | t }}</span>
                </button>
              </div>
            </div>

            {%- render 'cart-grid', location: 'mini-cart' -%}
          </div>
        </transition>

        <!-- add in loading state -->
        <transition name="fade">
          <div key="mini-cart-bg" class="mini-cart-bg" v-show="app.isMiniCartOpen" @click="toggleMiniCart"></div>
        </transition>
      </div>
    </div>
  </div>
{%- endunless -%}
