<div class="page-404">
  <div class="page-404__wrapper">
    <div class="container page-404__container">
      <div class="page-404__inner">
        <div class="page-404__icon">
          {%- render 'icon' with 'icon-404' -%}
        </div>
        <h2 class="h2 page-404__title">{{- 'general.404.title' | t -}}</h2>
        <p class="page-404__description">{{- 'general.404.subtext_html' | t -}}</p>
        <a class="btn btn--primary page-404__button" href="/" title="{{- shop.name -}}">{{- 'general.404.button_text' | t -}}</a>
      </div>
    </div>
  </div>
</div>
