{%- comment -%}
  Parameters
  * item
  * object_fit
{%- endcomment -%}

<span class="product-gallery-item">
  <div
    is="vue-image"
    :src="$parent.mediaThumbnail(item)"
    alt=""
    class="fit-{{ object_fit }} product-gallery-item__img">
  </div>
  <div
    v-if="item.media_type === 'video' || item.media_type === 'external_video'"
    class="product-gallery-item__icon z1 f aic jcc"
  >
    {%- render 'icon' with 'icon-play' -%}
  </div>
</span>
