<div class="product-gallery-enhanced" data-module="product-gallery-enhanced">
  <div class="product-gallery-enhanced__side">
    <ul class="product-gallery-enhanced__list">
      <li v-for="(image, index) in images" :image="product.image" class="product-gallery-enhanced__list--item" @click="activeIndex = index" :class="{ 'is-active': index === activeIndex }">
        <span class="product-gallery-enhanced__thumbnail">
          <div
            is="vue-image"
            :src="image.src"
            class="fit-cover product-gallery-enhanced__thumbnail__img">
          </div>
        </span>
      </li>
    </ul>
  </div>
  <div class="product-gallery-enhanced__main ratio ro-2 js-main"
    v-touch:swipe.right="prevImage"
    v-touch:swipe.left="nextImage">
    <div class="product-gallery-enhanced__featured">
    <transition name="fade">
      <img {% comment %}lint:ignore{% endcomment %}
        is="zoomable-image-enhanced"
        :src="featuredImage"
        :zoom="zoomableImage"
        class="product-gallery-enhanced__img"
      />
    </transition>
    </div>
  </div>
</div>
