{%- comment -%}
  Parameters
  * title
  * class
  * items
  * is_vue
  * bind_dynamic_props
{%- endcomment -%}
{%- assign is_vue = is_vue | default: false -%}
{%- assign bind_dynamic_props = bind_dynamic_props | default: false -%}

{%- capture css -%}
  product-three-up {{- class -}}
{%- endcapture -%}

<div class="{{- css | strip -}}">
  <div class="product-three-up__container container container--xl">
    {%- if title != blank -%}
      <h3 class="product-three-up__title h3 align-c">
        {{- title -}}
      </h3>
    {%- endif -%}
    {%- render 'carousel',
      class: 'product-three-up__items',
      columns: 2,
      columns_s: 3,
      columns_m: 4,
      columns_l: 4,
      card: 'product-card',
      class_card: 'product-three-up__item',
      items: items,
      page_dots: false,
      prev_next_buttons: true,
      watch_css: true,
      bind_dynamic_props: bind_dynamic_props,
      is_vue: is_vue,
      align_arrows_to_image: true,
      group_cells: true,
      contain: true,
      cell_align: 'left',
      mobile_options: '{"alignArrowsToImage": false}',
    -%}
  </div>
</div>

