{%- comment -%}
  Parameters
  * item
{%- endcomment -%}

{%- if item['promobar_enabled'] and item['promobar_content'] != blank -%}
  {%- unless item['promobar_homepage_only'] and template!='index' -%}
    <div class="promo-bar js-promo-bar" data-module="promo-bar">
      <div class="promo-bar__container">
        <div class="promo-bar__content rte js-content">
          {{- item['promobar_content'] -}}
        </div>
        <button class="promo-bar__close js-close">
          {%- render 'icon' with 'icon-close' -%}
          <span class="sr-only">{{ 'general.promobar.close_promobar' | t }}</span>
        </button>
      </div>
    </div>
  {%- endunless -%}
{%- endif -%}
