<section
  class="search-page relative"
  data-module="search-page"
>
  <div v-show="searchResults.length > 0">
    {%- if search.performed -%}
      {%- if settings.show_type_tab -%}
        {%- render 'search-tab' -%}
      {%- endif -%}
      {%- render 'search-results' -%}
    {%- endif -%}
  </div>
</section>
