<div class="search-results">
  <div class="search-results__wrapper">
    <div class="container container--xl search-results__container">
      <div
        :class="activatedType !== '' ? 'search-results__grid--' + activatedType : ''"
        class="search-results__grid"
      >
        <div
          class="search-results__item"
          v-for="item in paginatedResults"
          :key="item.id"
          {%- if settings.show_type_tab -%}v-if="activatedType === item.resultType"{%- endif -%}
        >
          <template v-if="item.resultType !== 'product'">
            {%- render 'post-card',
              title: 'item.title',
              tag: 'item.tag',
              image_alt: 'item.image_alt',
              image_sources: 'item.image',
              cta_text: "'Read more'",
              cta_url: 'item.url',
              is_vue: true -%}
          </template>
          <template v-else>
            {%- render 'product-card',
              title: 'item.title',
              attr: ':product="item"',
              is_vue: true -%}
          </template>
        </div>
      </div>
    </div>
    <div class="search-results__pagination" v-if="paginatedResults.length">
      {%- render 'pagination',
        current_page: 'currentPage',
        total: 'totalResultsByType',
        per_page: 'perPage',
        paginate_limit: 5,
        on_change: 'handleChangePagination($event)',
        is_vue: true
      -%}
    </div>
  </div>
</div>
