<div class="sign-up-form">
  {%- if image_sources != blank -%}
    <div class="relative ratio sign-up-form__background">
      {%- render 'picture',
        class: 'sign-up-form__image',
        sources: image_sources,
        breakpoints: breakpoints,
        alt: image_alt,
        loader: false
      -%}
    </div>
  {%- endif -%}
  <div class="sign-up-form__content" data-module="sign-up-form">
    {%- if title != blank -%}
      <h2 class="h2 align-c sign-up-form__title">{{ title }}</h2>
    {%- endif -%}
    {%- if description != blank -%}
      <div class="align-c sign-up-form__description">{{ description }}</div>
    {%- endif -%}
    {%- render 'newsletter-form',
      provider: 'klaviyo',
      class: 'newsletter-form--flexible-page',
      klaviyo_url: settings.klaviyo_url,
      show_name_field: true,
      klaviyo_group: section.settings.klaviyo_id,
      placeholder: section.settings.newsletter_placeholder,
      name_placeholder: section.settings.name_placeholder,
      btn_text: section.settings.newsletter_button_text,
      error_msg: settings.newsletter_error,
      success_msg: settings.newsletter_success,
      subscribed_msg: settings.newsletter_subscribed
    -%}
  </div>
</div>
