{%- comment -%}
Remove style="display: block;" when porting to real project
{%- endcomment -%}
<div class="splash" data-module="splash" style="display: block;">
  <div class="splash__container">
    <span class="splash__logo">
      <a class="header-logo" href="/" title="{{- shop.name -}}">
        {%- comment -%} {%- render 'logo' with 'barrel' -%} {%- endcomment -%}
        <p>Brand Logo Here</p>
        <span class="hidden">{{- shop.name -}}</span>
      </a>
    </span>
  </div>
</div>
