<div is="styleguide">
  <styleguide>
    {% render 'styleguide-colors' %}
    {% render 'styleguide-typography' %}
    {% render 'styleguide-button' %}
    {% render 'styleguide-icons' %}
  </styleguide>
</div>
