<section class="style-guide__section">
  <div class="container">
    <div class="grid grid--2">
      <div class="grid__item">
        <h3 class="style-guide__section-header">Inputs</h3>
        <div class="style-guide__section-content style-guide__section-content--responsive">
          <sel-text-input
            v-model="slotScope.textInput"
            placeholder="This is input field"
            class="input-custom"
          >
            Input title 1
          </sel-text-input>
          <sel-text-input
            v-model="slotScope.textInput"
            placeholder="This is input field"
            :required="true"
          >
            Input title 2
          </sel-text-input>
          <sel-text-input
            v-model="slotScope.textInput"
            :lines="10"
            placeholder="Form Textarea"
          >
            Textarea title
          </sel-text-input>
        </div>
      </div>
      <div class="grid__item">
        <h3 class="style-guide__section-header">Selector</h3>
        <div class="style-guide__section-content style-guide__section-content--responsive style-guide__section-table">
          <h4>Checkbox</h4>
          <sel-checkbox value="option-1">Option 1</sel-checkbox>
          <sel-checkbox value="option-2">Option 2</sel-checkbox>
          <sel-checkbox value="option-3">Option 3</sel-checkbox>
          <h4>Radio Button</h4>
          <sel-radio
            name="test-radio"
            v-for="n in 3"
            :key="n"
            :value="n"
          >
            Radio label
          </sel-radio>
          <h4>Select</h4>
          <sel-select
            :key="slotScope.enableValidateSelect"
            name="test-select"
            :options="slotScope.selectOptions"
            :required="slotScope.enableValidateSelect"
          >
            Select Options
            <template v-if="slotScope.enableValidateSelect" #empty-option>
              <option value="">Select Option</option>
            </template>
          </sel-select>
        </div>
      </div>
    </div>
  </div>
</section>
