<section class="style-guide__section">
  <div class="style-guide__section-header">
    <div class="container">
      <h3 class="style-guide__section-header-title">Buttons</h3>
    </div>
  </div>
  <div class="style-guide__section-content style-guide__section-content--responsive style-guide__section-table">
    <div class="container">
      <table class="table style-guide__table">
        <tr>
          <td></td>
          <td>Primary</td>
          <td>Secondary</td>
          <td>Hollow</td>
        </tr>
        <tr>
          <td>Standard</td>
          <td>
            <sel-button>Button</sel-button>
          </td>
          <td><sel-button class="sel-button--secondary">Button</sel-button></td>
          <td><sel-button class="sel-button--hollow">Button</sel-button></td>
        </tr>
        <tr>
          <td>Inactive</td>
          <td><sel-button disabled>Button</sel-button></td>
          <td></td>
          <td></td>
        </tr>
      </table>
    </div>
  </div>
</section>
