<section class="style-guide__section">
  <div class="style-guide__section-header">
    <div class="container">
      <h3 class="style-guide__section-header-title">Colours</h3>
    </div>
  </div>
  <div class="style-guide__section-content">
    <div class="container">
      <div class="grid grid--4 style-guide__colours-data">
        <div class="grid__item style-guide__colours-item">
          <h5 class="style-guide__colours-headline">BRAND COLOURS</h5>
          <div class="style-guide__colours-wrapper">
            <div class="style-guide__colours-box">
              <div class="style-guide__colours-background style-guide__colours--primary"></div>
            </div>
            <p class="style-guide__colours-content">Primary Brand Colour</p>
          </div>
          <div class="style-guide__colours-wrapper">
            <div class="style-guide__colours-box">
              <div class="style-guide__colours-background style-guide__colours--secondary"></div>
            </div>
            <p class="style-guide__colours-content">Secondary Brand Colour</p>
          </div>
        </div>
        <div class="grid__item style-guide__colours-item">
          <h5 class="style-guide__colours-headline">TYPOGRAPHY COLOURS</h5>
          <div class="style-guide__colours-wrapper">
            <div class="style-guide__colours-box">
              <div class="style-guide__colours-background style-guide__colours--heading"></div>
            </div>
            <p class="style-guide__colours-content">H1, H2, H3, H4 and H5 Headings</p>
          </div>
          <div class="style-guide__colours-wrapper">
            <div class="style-guide__colours-box">
              <div class="style-guide__colours-background style-guide__colours--body"></div>
            </div>
            <p class="style-guide__colours-content">Body Copy</p>
          </div>
          <div class="style-guide__colours-wrapper">
            <div class="style-guide__colours-box">
              <div class="style-guide__colours-background style-guide__colours--link"></div>
            </div>
            <p class="style-guide__colours-content">Text Links</p>
          </div>
        </div>
        <div class="grid__item style-guide__colours-item">
          <h5 class="style-guide__colours-headline">BACKGROUND COLOURS</h5>
          <div class="style-guide__colours-wrapper">
            <div class="style-guide__colours-box">
              <div class="style-guide__colours-background style-guide__colours--background"></div>
            </div>
            <p class="style-guide__colours-content">Light Grey Background</p>
          </div>
          <div class="style-guide__colours-wrapper">
            <div class="style-guide__colours-box">
              <div class="style-guide__colours-background style-guide__colours--overlay"></div>
            </div>
            <p class="style-guide__colours-content">Overlay Shade</p>
          </div>
        </div>
        <div class="grid__item style-guide__colours-item">
          <h5 class="style-guide__colours-headline">ADDITIONAL COLOURS</h5>
          <div class="style-guide__colours-wrapper">
            <div class="style-guide__colours-box">
              <div class="style-guide__colours-background style-guide__colours--border"></div>
            </div>
            <p class="style-guide__colours-content">Dividing Lines/Outlines</p>
          </div>
          <div class="style-guide__colours-wrapper">
            <div class="style-guide__colours-box">
              <div class="style-guide__colours-background style-guide__colours--error"></div>
            </div>
            <p class="style-guide__colours-content">Error and Sales</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
