<section class="style-guide__section">
  <div class="style-guide__section-header">
    <div class="container">
      <h3 class="style-guide__section-header-title">Exportable Icons</h3>
    </div>
  </div>
  <div class="container">
    <div class="style-guide__section-content">
      <div class="style-guide__section-icons">
        {%- render 'icon' with 'map' -%}
        {%- render 'icon' with 'phone' -%}
        {%- render 'icon' with 'directions' -%}
        {%- render 'icon' with 'chevron-right' -%}
        {%- render 'icon' with 'chevron-left' -%}
        {%- render 'icon' with 'chevron-down' -%}
        {%- render 'icon' with 'minus-svg' -%}
        {%- render 'icon' with 'plus-svg' -%}
        {%- render 'icon' with 'location' -%}
        {%- render 'icon' with 'cart' -%}
        {%- render 'icon' with 'instagram' -%}
        {%- render 'icon' with 'facebook' -%}
      </div>
      <div class="style-guide__section-icons" style="margin-top: 29px;background: black;padding: 16px 23px;">
        {%- render 'icon' with 'menu' -%}
        {%- render 'icon' with 'close' -%}
        {%- render 'icon' with 'arrow-left' -%}
        {%- render 'icon' with 'arrow-right' -%}
        {%- render 'icon' with 'tick' -%}
        {%- render 'icon' with 'error' -%}
        {%- render 'icon' with 'times' -%}
      </div>
    </div>
  </div>
</section>
