<section class="style-guide__section">
  <div class="container">
    <h3 class="style-guide__section-header">Typography</h3>
    <div class="style-guide__section-content">
      <div class="grid grid--2">
        <div class="grid__item">
          <h6 class="style-guide__section-title">Headings</h6>
          <h1 class="style-guide__section-heading">Heading 1</h1>
          <h2 class="style-guide__section-heading">Heading 2</h2>
          <h3 class="style-guide__section-heading">Heading 3</h3>
          <h4 class="style-guide__section-heading">Heading 4</h4>
          <h5 class="style-guide__section-heading">Heading 5</h5>
        </div>
        <div class="grid__item">
          <h6 class="style-guide__section-title">Paragraph</h6>
          <p>This is a paragraph style omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
          <h6 class="style-guide__section-title">Large Paragraph</h6>
          <p class="style-guide__large-paragraph">This is a larger paragraph style omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
          <h6 class="style-guide__section-title">Text Links</h6>
          <div class="style-guide__text-link">
            <a class="link" href="#">Text Link</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
