{%- assign sources = settings.feature_image | img_url: 'master' -%}

<div class="styleguide__image">
  {% render 'picture'
  class: ''
  sources: sources,
  object_fit: 'cover',
  loader: false
%}

</div>

<div is="styleguide"></div>
