{%- assign use_typekit = settings.use_typekit -%}
{%- assign headings_typekit_font_family = settings.headings_typekit_font_family -%}
{%- assign body_typekit_font_family = settings.body_typekit_font_family -%}

{%- if use_typekit == true and headings_typekit_font_family != blank -%}
  {%- assign headings_font_family = headings_typekit_font_family | split: ',' | first | replace: '"', '' -%}
{%- else -%}
  {%- assign headings_font_family = settings.headings_font.family | replace: '"', '' -%}
{%- endif -%}

{%- if use_typekit == true and body_typekit_font_family != blank -%}
  {%- assign body_font_family = body_typekit_font_family | split: ',' | first | replace: '"', '' -%}
{%- else -%}
  {%- assign body_font_family = settings.body_font.family | replace: '"', '' -%}
{%- endif -%}

<section
  class="style-guide"
  data-module="style-guide"
>
  <div class="container style-guide__container">
    <div class="f style-guide__wrapper">
      <div class="style-guide__block style-guide__block--left">
        <div class="style-guide__section">
          <h2 class="h2 style-guide__section-title">Typography</h2>
          <p class="style-guide__label">Fonts</p>

          <div class="f">
            <div class="style-guide__box w1 mr2">
              <h3 class="h2 mb0">Aa Zz</h3>
              <p class="mt025">{{- headings_font_family -}}</p>
            </div>

            <div class="style-guide__box w1">
              <h3>Aa Zz</h3>
              <p class="mt025">{{- body_font_family -}}</p>
            </div>
          </div>

          <p class="style-guide__label">Desktop</p>
          <h1 class="h1">Heading 1</h1>
          <hr>
          <h2 class="h2">Heading 2</h2>
          <hr>
          <h3 class="h3">Heading 3</h3>
          <hr>
          <h4 class="h4">Heading 4</h4>
          <hr>
          <h5 class="h5">Heading 5</h5>
          <hr>
          <h6 class="h6">Heading 6</h6>
          <hr>
          <p class="p2">Body Text - <strong class="bold">Our community</strong> solar farms bring green, renewable energy to residents and businesses while saving them money on their electric bills. Our first project, situated in beautiful Sullivan County, is completed and currently generating clean energy that is benefiting 350 residents and small businesses.</p>
          <hr>
        </div>
      </div>

      <div class="style-guide__block style-guide__block--right">
        <div class="style-guide__section">
          <h2 class="h2 style-guide__section-title">Color Palette</h2>
          <p class="style-guide__label">Primary Colors</p>
          <div class="f fw style-guide__color-grid">
            <div class="style-guide__color-item">
              <div class="style-guide__color-box bg-headings">
                <p class="style-guide__color-code white">Headings</p>
              </div>
            </div>

            <div class="style-guide__color-item">
              <div class="style-guide__color-box bg-text">
                <p class="style-guide__color-code white">Text</p>
              </div>
            </div>

            <div class="style-guide__color-item">
              <div class="style-guide__color-box bg-light-text">
                <p class="style-guide__color-code white">Light Text</p>
              </div>
            </div>

            <div class="style-guide__color-item">
              <div class="style-guide__color-box bg-background">
                <p class="style-guide__color-code white">Background</p>
              </div>
            </div>

            <div class="style-guide__color-item">
              <div class="style-guide__color-box bg-secondary-background">
                <p class="style-guide__color-code white">Secondary Background</p>
              </div>
            </div>

            <div class="style-guide__color-item">
              <div class="style-guide__color-box bg-accent">
                <p class="style-guide__color-code white">Accent</p>
              </div>
            </div>
          </div>
        </div>

        <div class="style-guide__section">
          <h2 class="h2 style-guide__section-title">Patterns & Dividers</h2>
          <hr>
          <p class="style-guide__label">Divider</p>
        </div>

        <div class="style-guide__section">
          <h2 class="h2 style-guide__section-title">Button & UI Elements</h2>
          <a class="a1" href="#">Collections</a>
          <a class="a1 ml2" href="#">Products</a>
          <p class="style-guide__label">Header Navigation - Primary Link</p>
          <hr>

          <a class="footer__nav__item__link link small" href="#">Collections</a>
          <a class="footer__nav__item__link link small ml1" href="#">Products</a>
          <p class="style-guide__label">Footer Navigation Link</p>
          <hr>

          {% include 'button',
            class: '',
            value: 'Button Text',
            type: 'link',
            style: 'primary' %}
          <p class="style-guide__label">Primary Button</p>
          <hr>

          {% include 'button',
            class: '',
            value: 'Button Text',
            type: 'button',
            style: 'secondary' %}
          <p class="style-guide__label">Secondary Button</p>
          <hr>

          {%- render 'social-links', class: 'f aic'-%}
          <p class="style-guide__label">Social Media Set</p>
        </div>

        <div class="style-guide__section">
          <h2 class="h2 style-guide__section-title">Forms</h2>

          <div class="address-form__input">
            {%- render 'text-input' with
              name: 'data[first_name]',
              label: 'First Name',
              placeholder: 'First Name',
              show_placeholder: true,
              change: 'onInputChange',
              initial_value: "getInitialValue",
              error: 'First Name is required',
              required: true -%}
          </div>
          <p class="style-guide__label">Input field</p>
          <hr>

          {%- render 'checkbox' with
            name: 'styleguide-checkbox',
            label: 'Checkbox',
            class: 'styleguide__checkbox',
            change: 'onInputChange'
          -%}
          <p class="style-guide__label">Checkbox</p>
          <hr>

          <div class="block">
            {%- render 'radio-button' with
              name: 'styleguide-radio',
              label: 'Radio Button 1',
              class: '',
              checked: true,
            -%}
          </div>

          <div class="block">
            {%- render 'radio-button' with
              name: 'styleguide-radio',
              label: 'Radio Button 2',
              class: '',
            -%}
          </div>
          <p class="style-guide__label">Radio Button</p>
          <hr>

          {%- render 'select-input' with
            name: 'testing',
            label: 'Options',
            dynamic_options: "[{label: 'Option 1', value: '1'}, {label: 'Option 2', value: '2'}]",
            change: 'onInputChange',
            error: 'Province is required',
            required: true -%}
          <p class="style-guide__label">Select</p>
          <hr>
          {%- render 'newsletter-form',
            class: 'style-guide__newsletter',
            provider: '',
            klaviyo_url: '',
            klaviyo_group: '',
            mailchimp_url: '',
            placeholder: 'Email address',
            error_msg: 'There was an error.',
            success_msg: 'You have been successfully subscribed.',
            btn_text: 'Sign Up' -%}
          <p class="style-guide__label">Newsletter Form</p>
          <hr>

          {%- render 'header-cart-icon', count: 8 -%}
          <p class="style-guide__label">Cart</p>
        </div>
      </div>
    </div>
  </div>
</section>
