<section class="style-guide__section">
  <div class="container">
    <h3 class="style-guide__section-header">Icons</h3>
    <div class="style-guide__section-content style-guide__section-content--responsive">

    </div>
  </div>
</section>
