<div
  is="tabs"
  :tabs="{{ items }}"
  :display-prefix-only="{{ display_prefix_only }}"
  inline-template
>
  <div class="tab__wrap">
    <div class="tabs-nav">
      <ul class="tabs-nav__list" v-if="tabs.length > 1">
        <li
          class="tabs-nav__list-item"
          v-for="(tab, index) in tabs"
          :class="{ 'is-active': index === selectedTab }"
          :key="index"
        >
          <a class="label" href="#" @click.prevent="selectedTab = index" v-html="getTitle(tab.name)"></a>
        </li>
      </ul>
    </div>

    <div class="tabs-details">
      <div class="tab-details__inner" v-for="(tab, index) in tabs" :key="index">
        <div v-html="tab.content" v-if="index === selectedTab"></div>
      </div>
    </div>
  </div>
</div>
