{%- comment -%}
  Parameters
  * fields
{%- endcomment -%}

{%- assign title = fields.title -%}
{%- assign description = fields.description -%}
{%- assign email_placeholder_text = fields.email_placeholder_text -%}
{%- assign signup_button_text = fields.signup_button_text -%}
{%- assign klaviyo_list_id = fields.klaviyo_list_id -%}
{%- assign image = fields.image[0] -%}
{%- assign image_s = fields.image_s[0] -%}
{%- assign image_l = fields.image_l[0] -%}

{%- assign image_sources = '' -%}
{%- assign breakpoints = '' -%}
{%- assign aspect_ratio = 1 -%}

{%- if image.src != blank -%}
  {%- assign image_sources = image_sources | append: '|' | append: image.src -%}
  {%- assign breakpoints = breakpoints | append: '|(max-width: 767px)' -%}
  {%- assign apsect_ratio = image.aspect_ratio -%}
{%- endif -%}

{%- if image_s.src != blank -%}
  {%- assign image_sources = image_sources | append: '|' | append: image_s.src -%}
  {%- assign breakpoints = breakpoints | append: '|(max-width: 999px)' -%}
  {%- assign apsect_ratio = image_s.aspect_ratio -%}
{%- endif -%}

{%- if image_l.src != blank -%}
  {%- assign image_sources = image_sources | append: '|' | append: image_l.src -%}
  {%- assign breakpoints = breakpoints | append: '|(min-width: 1000px)' -%}
  {%- assign apsect_ratio = image_l.aspect_ratio -%}
{%- endif -%}

{%- assign image_sources = image_sources | remove_first: '|' -%}
{%- assign breakpoints = breakpoints | remove_first: '|' -%}

<div class="teaser-hero" data-module="teaser-hero">
  <div class="container container--xl teaser-hero__container">
    <div class="teaser-hero__wrapper">
      <div class="teaser-hero__content">
        {%- if title != blank -%}
          <h1 class="h1 teaser-hero__title">{{- title -}}</h1>
        {%- endif -%}

        {%- if description != blank -%}
          <div class="h5 teaser-hero__description">
            {{- description -}}
          </div>
        {%- endif -%}

        {%- if klaviyo_list_id != blank -%}
          {%- render 'newsletter-form',
            provider: 'klaviyo',
            klaviyo_url: settings.klaviyo_url,
            klaviyo_group: klaviyo_list_id,
            placeholder: email_placeholder_text,
            btn_text: signup_button_text,
            error_msg: settings.newsletter_error,
            success_msg: settings.newsletter_success,
            subscribed_msg: settings.newsletter_subscribed
          -%}
        {%- endif -%}
      </div>
      <div class="teader-hero__image ratio aspect-ratio" style="--aspect-ratio: {{- aspect_ratio -}}">
        {%- render 'picture',
          class: 'teader-hero__img',
          sources: image_sources,
          breakpoints: breakpoints,
          alt: title,
          object_fit: 'cover',
          loader: true,
          is_vue: true
        -%}
      </div>
    </div>
  </div>
</div>
