{%- comment -%}
  Parameters
  * item
{%- endcomment -%}

{%- assign testimonial = item.settings -%}
{%- assign image = testimonial['image'] | img_url: '100x' -%}
{%- capture author -%}
  {{- testimonial['author'] -}}
  {%- if testimonial['subtext'] != blank -%}
    <p class="testimonial-card__author-subtext italic">{{- testimonial['subtext'] -}}</p>
  {%- endif -%}
{%- endcapture -%}
<div class="testimonial-card">
  {%- render 'star-rating', value: testimonial['rating'] -%}
  <blockquote class="testimonial-card__text h3">
    {{- testimonial['text'] -}}
  </blockquote>
  {%- if image -%}
    <div class="testimonial-card__image-wrapper">
      {%- render 'image',
        class: 'testimonial-card__author-image',
        src: image,
        text: testimonial['author'] -%}
    </div>
  {%- endif -%}
  {%- if author != blank -%}
    <div class="testimonial-card__author p3">
      {{- author -}}
    </div>
  {%- endif -%}
</div>
