<div class="text-and-image-list">
  <h2 class="h1 align-c text-and-image-list__title">{{ title }}</h2>
  <div class="text-and-image-list__content">
    {%- for block in blocks -%}
      {%- assign settings = block.settings -%}
      {%- assign image = settings.image | img_url: '2160x' -%}
      {%- assign image_intermediate = settings['image_intermediate'] | img_url: '1200x' -%}
      {%- assign image_mobile = settings['image_mobile'] | img_url: '700x' -%}
      {%- assign image_alt = image.alt -%}
      {%- assign image_small = settings.image_small| img_url: '1200x' -%}
      {%- assign image_s_alt = image_small.alt -%}
      {%- assign class = class | default: '' -%}

      {%- capture image_sources -%}
        {%- if image_mobile != blank -%}
          {{- image_mobile -}}
        {%- endif -%}
        {%- if image_intermediate != blank -%}
          |{{- image_intermediate -}}
        {%- endif -%}
        {%- if image != blank -%}
          |{{- image -}}
        {%- endif -%}
      {%- endcapture  -%}

      {%- capture breakpoints -%}
        {%- if image_mobile != blank -%}
          (max-width: 767px)
        {%- endif -%}
        {%- if image_intermediate != blank -%}
          |(max-width: 999px)
        {%- endif -%}
        {%- if image != blank -%}
          |(min-width: 1000px)
        {%- endif -%}
      {%- endcapture  -%}
      {%- render 'text-and-image' with 'image' as media_type,
        class: class,
        image_sources: image_sources,
        breakpoints: breakpoints,
        image_alt: image_alt,
        image_s: image_small,
        image_s_alt: image_s_alt,
        tagline: settings.tagline,
        title: settings.title,
        text: settings.text,
        cta_url: settings.cta_url,
        cta_text: settings.cta_text,
        cta_new_window: settings.cta_new_window,
        content_alignment: settings.content_alignment,
        text_alignment: settings.text_alignment -%}
    {%- endfor -%}
  </div>
</div>
