{%- assign item = item | default: blank -%}
{%- assign title = item['title'] -%}
{%- assign text = item['text'] -%}

<section class="text-focus">
  <div class="text-focus__container container container--ms align-c">
    {%- if title != blank -%}
      <h2 class="text-focus__title p3">
        {{- title -}}
      </h2>
    {%- endif -%}

    {%- if text != blank -%}
      <p class="text-focus__text h3">
        {{- text -}}
      </p>
    {%- endif -%}
  </div>
</section>
