{%- comment -%}
  Parameters
  * class
  * content
{%- endcomment -%}

{%- if content and content != '' -%}
  <section class="wysiwyg{% if class != blank %} {{ class }}{% endif %}" data-module="wysiwyg">
    <div class="wysiwyg__container container container--ms">
      {{- content -}}
    </div>
  </section>
{%- endif -%}
