@define-mixin button {
  @mixin transition all;

  display: inline-block;
  min-width: 132px;
  padding: 15px 35px 13px;
  text-align: center;
  cursor: pointer;
  border-style: solid;
  border-width: 1px;
  border-radius: 2px;
}

[type="submit"],
[type="button"],
[type="reset"],
button {
  @mixin reset-button;

  cursor: pointer;

  &:focus {
    box-shadow: none;
    outline: none;
  }

  &:hover {
    box-shadow: none;
  }

  &:disabled {
    pointer-events: none;
  }
}

.sel-button {
  @mixin button;

  border-color: var(--c-button-primary-border);
  background: var(--c-button-primary-bg);
  color: var(--c-button-primary-text);

  &:hover {
    box-shadow: none;
    background: var(--c-button-primary-hover-bg);
    text-decoration: none;
  }

  &:disabled {
    border-color: var(--c-button-disable-border);
    background: var(--c-button-disable-bg);
    color: var(--c-button-disable-text);
  }
}

.sel-button--secondary {
  border-color: var(--c-button-secondary-border);
  background: var(--c-button-secondary-bg);
  color: var(--c-button-secondary-text);

  &:hover {
    background: var(--c-button-secondary-hover-bg);
  }
}

.sel-button--hollow {
  border-color: var(--c-button-alternate-border);
  background: var(--c-button-alternate-bg);
  color: var(--c-button-alternate-text);

  &:hover {
    border-color: var(--c-button-alternate-hover-border);
    background: var(--c-button-alternate-hover-bg);
    color: var(--c-button-alternate-hover-text);
  }
}

.sel-button--number-control {
  padding: 0;
}
