:root {
  --w-hero-inner: 450px;
}

@define-mixin ratio-wrapper-hero {
  @mixin aspect 375, 380;

  @media (--ml) {
    @mixin aspect 1600, 860;
  }
}

.hero {
  position: relative;
}


.hero__wrapper {
  @mixin ratio-wrapper-hero;
  position: relative;
  display: flex;
}

.hero__block-image-wrapper,
.hero__block-video-wrapper {
  @mixin fit;
  z-index: 1;
}

.hero__block-image--mobile {
  @media (--sm) {
    display: none;
  }
}

.hero__block-image--desktop {
  display: none;

  @media (--sm) {
    display: block;
  }
}

.hero__block-content {
  z-index: 2;
  margin: auto;
  padding: 12px;
  width: 100%;

  @media (--ml) {
    padding: 36px;
  }
}

.hero__inner-content {
  @mixin flex-vertical;
  flex: 1 0 auto;
  width: 100%;
  height: 100%;
}

.hero__image {
  @mixin fit;
}

.hero__title {
  color: var(--c-white);
  text-align: center;
}

.hero__description {
  width: 100%;
  margin-top: 10px;
  color: var(--c-white);
  text-align: center;

  @media (--ml) {
    margin-top: 20px;
  }
}

.hero__cta {
  margin-top: 23px;
}

.hero__button {
  display: inline-block;
}

.hero__video {
  @mixin fit;
}

.hero--container {
  & .hero__block-content {
    @mixin edge-padding;
    @mixin center-block;
    width: 100%;
    max-width: var(--container-max-width);

    @media (--sm) {
      @mixin edge-padding var(--container-edge-tablet);
    }

    @media (--ml) {
      @mixin edge-padding var(--container-edge-desktop);
    }
  }
}

.hero--two-up {
  & .hero__block-image-wrapper {
    @mixin aspect 1, 1;
    position: relative;
    width: 100%;

    @media (--ml) {
      width: 50%;
      flex: 1 0 auto;
    }
  }

  & .hero__wrapper {
    @mixin flex-vertical;
    &:before {
      content: none;
    }

    @media (--ml) {
      @mixin flex-horizontal stretch, stretch;
    }
  }

  & .hero__block-content {
    width: 100%;
    flex: 1 1 auto;

    @media (--ml) {
      width: 50%;
    }
  }

  & .hero__inner-content {
    @media (--ml) {
      margin: 0 auto;
    }
  }

  & .hero__title,
  & .hero__description {
    color: var(--c-black);
  }
}

.hero--two-up-reverse {
  & .hero__wrapper {
    @media (--ml) {
      flex-direction: row-reverse;
    }
  }
}
