.account-address {
  margin: 50px auto;

  @media (--s) {
    margin-top: 60px;
    margin-bottom: 60px;
    padding-left: 60px;
    padding-right: 60px;
  }

  @media (--m) {
    margin-top: 70px;
    margin-bottom: 70px;
    padding-left: 80px;
    padding-right: 80px;
  }

  @media (--l) {
    margin-top: 100px;
    margin-bottom: 100px;
  }
}

.account-address__list {
  margin-top: 20px;
  margin-bottom: 35px;

  @media (--m) {
    margin-top: 40px;
    margin-bottom: 55px;
  }
}

.account-address__title {
  margin-bottom: 5px;

  @media (--s) {
    margin-bottom: 20px;
  }
}

.account-address__item {
  margin-bottom: 0;
  padding: 20px 0;
  border-top: 1px solid var(--c-borders);

  @media (--m) {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  &:last-child {
    border-bottom: 1px solid var(--c-borders);
  }
}

.account-adddress__add-address {
  margin-top: 25px;
  max-width: 280px;
  margin-left: auto;
  margin-right: auto;

  @media (--m) {
    max-width: 260px;
  }
}

.address-form__title {
  margin-bottom: 18px;

  @media (--m) {
    margin-bottom: 34px;
  }
}

.account-address__default {
  @extend .label;

  color: var(--coral-pink);
  margin-bottom: 7px;

  @media (--m) {
    margin-bottom: 10px;
  }
}

.account-address__name {
  display: inline-block;
}

.account-address__footer {
  margin-top: 13px;

  @media (--m) {
    margin-bottom: 18px;
  }

  .link {
    @extend %link;

    margin-right: 20px;
  }
}

.account-address__anchor {
  position: absolute;
  top: -200px;
}
