.account-nav__wrapper {
  margin-top: 50px;

  @media (--s) {
    margin-top: 60px;
  }

  @media (--m) {
    margin-top: 70px;
  }

  @media (--l) {
    margin-top: 100px;
  }
}

.account-nav__title {
  margin-bottom: 15px;

  @media (--s) {
    font-size: 25px;
  }

  @media (--m) {
    font-size: 35px;
  }

  @media (--l) {
    font-size: 45px;
  }

  &:last-child {
    margin-bottom: 20px;
  }
}

li.account-nav__link {
  margin: 0 10px;
  font-family: var(--buttons-font-family);
  font-size: var(--buttons-font-size-mobile);
  text-transform: var(--buttons-text-transform);
  font-weight: var(--buttons-font-weight);
  letter-spacing: 1px;
  color: var(--c-headings);

  @media (--m) {
    margin: 0 20px;
    font-size: var(--buttons-font-size);
    letter-spacing: 1.5px;
  }

  &:hover {
    border-bottom: 1px solid var(--c-headings);
  }

  &.account-nav__link--active {
    border-bottom: 1px solid var(--coral-pink);
  }

  .link {
    color: var(--c-headings);

    &:hover {
      text-decoration: none;
    }
  }
}

.account-nav__link--logout,
.account-nav__link--back {
  font-family: var(--buttons-font-family);
  font-size: 11px;
  line-height: 1.36;

  @media (--m) {
    font-size: 13px;
  }
}

.account-nav__link--logout {
  @extend %link;

  position: absolute;
  top: 20px;
  right: 0;
}

.account-nav__link--back {
  position: absolute;
  top: 20px;
  left: 0;
  padding-left: 5px;
  text-decoration: none;

  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 60%;
    width: 4px;
    height: 4px;
    z-index: 0;
    border: solid var(--c-headings);
    border-width: 1px 0 0 1px;
    transform: rotate(-45deg) translateY(-100%);
  }

  &::after {
    content: '';
    position: absolute;
    left: 5px;
    right: 0;
    bottom: 0;
    border-bottom: 1px solid var(--c-link-hover);
    transition: border-bottom var(--duration) var(--ease);
  }

  &:hover::after {
    border-bottom-color: var(--c-headings);
  }
}

.template-order {
  .account-nav__link--back,
  .account-nav__link--logout {
    @media (--m) {
      top: 55px;
    }
  }
}
