.account-forms {
  padding: 50px 0;

  @media (--s) {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  @media (--m) {
    padding-top: 70px;
    padding-bottom: 70px;
  }

  @media (--l) {
    padding-top: 110px;
    padding-bottom: 110px;
  }

  > .container {
    max-width: 334px;

    @media (--m) {
      max-width: 360px;
    }

    @media (--l) {
      max-width: 400px;
    }
  }

  .account-forms__header {
    margin-bottom: 18px;

    @media (--m) {
      margin-bottom: 34px;
    }

    .page-title {
      margin-bottom: 10px;

      @media (--m) {
        margin-bottom: 20px;
      }
    }
  }
}

.form-row--button {
  .form-row + & {
    margin-bottom: 30px;

    @media (--m) {
      margin-top: 30px;
    }
  }
}
