.js-age-gate-active,
.age-gate--visible {
  body {
    height: 100%;
    overflow: hidden;
  }

  .age-gate ~ * {
    visibility: hidden !important; /* Hide elements after age-gate */
  }
}

.age-gate {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  height: 100%;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity var(--duration) var(--ease), visibility var(--duration) var(--ease);

  .js-age-gate-active & {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transition: opacity 0, visibility 0;
  }
}

.age-gate--none {
  background: var(--c-background);

  &.age-gate--inverted {
    background: var(--c-background-inverted);
  }
}

.age-gate__overlay {
  background: var(--black);
  z-index: 1;
}

.age-gate__inner {
  position: relative;
  max-width: var(--xs);
  padding: 0 var(--gutter-xxs);
  z-index: 1;

  @media (--s) {
    padding: 0 var(--gutter-s);
  }

  @media (--m) {
    padding: 0 var(--gutter-m);
  }

  @media (--l) {
    padding: 0 var(--gutter-l);
  }
}

.age-gate__logo {
  display: block;
  width: 65px;
  margin: 0 auto;

  @media (--m) {
    width: 100px;
  }
}

.age-gate__form {
  width: 100%;
  max-width: var(--xxs);
  margin: 0 auto;

  .age-gate__form__select-input {
    .has-error & {
      border-color: var(--c-errors);
    }
  }

  .select-input__icon {
    .has-error & {
      border-color: var(--c-errors);
    }
  }
}

.age-gate__error {
  position: absolute;
  display: none;
  bottom: 0;
  left: 0;
  width: 100%;
  margin: 0;
  padding-top: 1em;
  transform: translate3d(0, 100%, 0);

  .has-error & {
    display: block;
  }
}

.age-gate--background-image,
.age-gate--background-video {
  color: var(--white);

  .age-gate__title {
    color: var(--white);
  }
}

.age-gate--inverted.age-gate--none {
  .age-gate__title,
  .age-gate__description {
    color: var(--c-text-inverted);
  }
}

.age-gate--image.age-gate--inverted,
.age-gate--video.age-gate--inverted {
  .age-gate__title,
  .age-gate__description {
    color: var(--white);
  }

  .age-gate__form__select-input {
    background-color: var(--white);
  }
}
