.blog-hero-basic {
  margin-top: 35px;
  margin-bottom: 35px;

  @media (--s) {
    margin-top: 11px;
    margin-bottom: 88px;
  }

  .blog-hero-basic__title {
    @media (--m) {
      margin-top: 2em;
    }
  }
}
