.blog-hero {
  .hero__wrapper {
    @media (--s) {
      padding-top: 35px;
      padding-bottom: 35px;
    }

    @media (--m) {
      padding-top: 48px;
      padding-bottom: 48px;
    }

    @media (--l) {
      padding-top: 68px;
      padding-bottom: 68px;
    }
  }

  .hero__title {
    max-width: 25ch;
    margin-bottom: 10px;
  }

  .hero__content {
    max-width: 48ch;
    margin-bottom: 10px;

    @media (--m) {
      max-width: 70ch;
      margin-bottom: 20px;
    }
  }
}
