/* critical:start */
.breadcrumbs {
  position: absolute;
  z-index: 1;
  top: 20px;
  width: 100%;
  opacity: 0.5;

  @media (--m-max) {
    position: relative;
    top: auto;
    height: 64px;
    background-color: var(--white);
    overflow: hidden;
    display: flex;
    align-items: center;
  }
}

.breadcrumbs--article {
  position: static;
  height: 50px;
  line-height: 50px;
  opacity: 1;

  @media (--m) {
    opacity: 0.5;
  }
}

.breadcrumbs--blog {
  position: absolute;
  top: 0;
  background-color: transparent;
  opacity: 0.9;
  height: 50px;
  line-height: 50px;

  @media (--m) {
    height: 60px;
    line-height: 60px;
  }
}

.breadcrumbs--product {
  @media (--m-max) {
    position: absolute;
    top: 0;
  }
}

.breadcrumbs__list {
  @media (--m-max) {
    display: block;
    overflow: auto;
    white-space: nowrap;
  }
}

.breadcrumbs--inverted {
  color: var(--c-text-inverted);
}

.breadcrumbs__link {
  @extend %link;

  line-height: 1.2;
}

/* critical:end */
