.btn {
  display: inline-block;
  height: 35px;
  line-height: 33px;
  min-width: 130px;
  padding: 0 20px;
  text-align: center;
  letter-spacing: 1px;
  font-family: var(--buttons-font-family);
  font-weight: var(--buttons-font-weight);
  font-style: var(--buttons-font-style);
  font-size: var(--buttons-font-size-mobile);
  text-transform: var(--buttons-text-transform);
  white-space: nowrap;

  @media (--m) {
    height: 45px;
    line-height: 43px;
    letter-spacing: 1.5px;
    font-size: var(--buttons-font-size);
  }

  .flexible-header__button & {
    @media (--xxs-max) {
      height: 21px;
      line-height: 21px;
      min-width: 70px;
    }
  }
}

.btn--primary {
  border: 0;
  background-color: var(--c-btn-background);
  color: var(--c-btn-text);
  padding: 0;
  position: relative;
  margin-left: 5px;

  &:not([disabled]):focus,
  &:not([disabled]):hover {
    border-color: var(--c-btn-hover-border);
    background-color: var(--c-btn-hover);
    color: var(--c-btn-hover-text);
  }

  &:not([disabled]):hover {
    .button__el {
      top: 0;
      left: 0;
    }
  }

  &::before {
    content: '';
    will-change: top left;
    transition: top var(--transition-default), left var(--transition-default);

    @mixin gradient-background;
    @mixin full-cover;
  }

  .button__el {
    border: 1px solid var(--c-btn-border);
    background-color: var(--c-btn-background);
    color: var(--c-btn-text);
    position: relative;
    padding: 0 20px;
    top: -5px;
    left: -5px;
    will-change: top left;
    transition: top var(--transition-default), left var(--transition-default);
  }

  &.btn--full-width,
  &.w1 {
    width: calc(100% - 5px);
  }
}

.btn--secondary {
  border: 1px solid var(--c-btn-secondary-border);
  background-color: var(--c-btn-secondary-background);
  color: var(--c-btn-secondary-text);

  &:not([disabled]):focus,
  &:not([disabled]):hover {
    border: 1px solid var(--c-btn-secondary-hover-border);
    background-color: var(--c-btn-secondary-hover);
    color: var(--c-btn-secondary-hover-text);
  }
}

.btn--full-width {
  width: 100%;
}

button,
.btn {
  &:not([disabled]):focus {
    outline-offset: 5px;
    outline-width: 1px;
    outline-style: solid;
    outline-color: var(--c-focus);
  }

  &[disabled] {
    opacity: 0.5;
    cursor: default;
  }
}

.skip_link {
  @extend .btn;

  background-color: var(--snow);
  position: fixed;
  top: -100px;
  left: 50%;
  opacity: 0;
  transform: translate3d(-50%, 0, 0);
  transition: all 0.3s ease;
  z-index: 999;

  &:focus {
    outline: 5px auto -webkit-focus-ring-color;
  }

  &:active,
  &:focus {
    top: 100px;
    opacity: 1;
    pointer-events: auto;
  }
}

.skip_link--sidebar {
  top: 0;
  left: 0;
  transform: translate(-100%);

  &:active,
  &:focus {
    transform: translate(0);
  }
}
