.carousel-grid {
  @mixin grid --xs;
  @mixin grid --s, var(--gutter-s);
  @mixin grid --sm, var(--gutter-sm);
  @mixin grid --ml, var(--gutter-ml);

  & .carousel__item {
    @mixin cell-responsive;
    @mixin cell-responsive --s, var(--gutter-s);
    @mixin cell-responsive --sm, var(--gutter-sm);
    @mixin cell-responsive --ml, var(--gutter-ml);
  }
}

/* Main Carousel styles */
.carousel__content {
  &:after {
    content: 'flickity';
    display: none;
  }

  &.flickity-enabled:not(.is-draggable) {
    & .flickity-button,
    & .flickity-page-dots {
      display: none;
    }
  }

  & .flickity-prev-next-button {
    background: none;
    width: var(--carousel-arrow-size);
    height: var(--carousel-arrow-size);

    &.next {
      right: 5px;
    }

    &.previous {
      left: 5px;
    }
  }

  & .flickity-page-dots {
    @mixin flex-horizontal;
    @mixin fit-x;
    width: auto;
    bottom: 0;
  }

  & .flickity-page-dots .dot {
    @mixin transition background-color;
    width: var(--carousel-dots-size);
    height: var(--carousel-dots-size);
    margin: 0 var(--carousel-dots-margin);
    border: 1px solid var(--c-border);
    background-color: var(--c-button-secondary-bg);
    opacity: 1;

    &.is-selected {
      background-color: var(--c-button-primary-bg);
    }
  }

  & .arrow {
    @mixin transition fill;
    fill: var(--c-button-secondary-border)
  }

  & [disabled] .arrow {
    opacity: 0.3;
  }

  & .flickity-button:disabled {
    pointer-events: auto;
    opacity: 1;
  }

  & .flickity-button-icon {
    width: var(--carousel-arrow-icon-size);
    height: var(--carousel-arrow-icon-size);
    left: 50%;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
  }
}

.carousel__item {
  width: 100%;

  @nest .carousel-grid--2 & {
    width: percentage(1/2);
  }

  @nest .carousel-grid--3 & {
    width: percentage(1/3);
  }

  @nest .carousel-grid--4 & {
    width: percentage(1/4);
  }

  @media (--sm) {
    @nest .carousel-grid--sm-1 & {
      width: 100%;
    }

    @nest .carousel-grid--sm-2 & {
      width: percentage(1/2);
    }

    @nest .carousel-grid--sm-3 & {
      width: percentage(1/3);
    }

    @nest .carousel-grid--sm-4 & {
      width: percentage(1/4);
    }
  }

  @media (--ml) {
    @nest .carousel-grid--ml-1 & {
      width: 100%;
    }

    @nest .carousel-grid--ml-2 & {
      width: percentage(1/2);
    }

    @nest .carousel-grid--ml-3 & {
      width: percentage(1/3);
    }

    @nest .carousel-grid--ml-4 & {
      width: percentage(1/4);
    }

    @nest .carousel-grid--ml-5 & {
      width: percentage(1/5);
    }
  }
}

.carousel__nav {
  @mixin flex-horizontal stretch, flex-start, nowrap;
  width: 100%;
  overflow: scroll;

  /* Hide scrollbars */
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.carousel__scrollbar-track {
  position: relative;
}

.carousel__scrollbar {
  position: absolute;
  top: 0;
  left: 0;
}

.is-initialized {
  & .carousel__item {
    height: 100%;
  }
}

/* Only initialize carousel on mobile */
.carousel--mobile {
  & .carousel__content {
    @media (--ml) {
      &:after {
        content: none;
      }
    }
  }
}

/* Only initialize carousel on desktop */
.carousel--desktop {
  &.carousel {
    @media (--m-max) {
      &:after {
        content: none;
      }
    }
  }
}
