.category-navigation {
  margin: 50px 0 15px;
  overflow: hidden;

  @media (--s) {
    margin: 100px 0 30px;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 33px;
    height: 46px;
    background: linear-gradient(90deg, rgba(var(--white), 0.5) 0%, var(--white) 100%);
  }
}

.category-navigation__tagline {
  margin-bottom: 10px;
}

.category-navigation__title {
  margin: 0 0 20px;
}

.category-navigation__list {
  overflow: auto;
  white-space: nowrap;
}

.category-navigation__item {
  display: inline-block;

  &:not(:last-child) {
    margin-right: 12px;
  }
}

.category-navigation__link {
  padding: 5px 0 10px;
  opacity: 0.5;

  .category-navigation__item--selected & {
    opacity: 1;
  }
}
