.checkbox {
  display: flex;
  align-items: center;
}

.checkbox--align-t {
  align-items: flex-start;
}

.checkbox__icon {
  position: relative;
  width: 15px;
  height: 15px;
  margin-right: 10px;

  @media (--m) {
    width: 20px;
    height: 20px;
  }
}

.checkbox--align-t .checkbox__icon {
  margin-top: 2px;
}

.checkbox__icon-el {
  position: relative;
  z-index: 1;
  display: block;
  flex: 0 0 auto;
  margin-right: 10px;
  border: 1px solid var(--c-borders);
  height: 15px;
  width: 15px;
  cursor: pointer;

  @media (--m) {
    width: 20px;
    height: 20px;
  }

  .is-error & {
    border: 1px solid var(--c-errors);
  }
}

.checkbox__icon-el:focus {
  outline: 1px solid var(--c-focus);
  outline-offset: 5px;
}

.checkbox__icon-el:checked + .checkbox__icon-tick {
  opacity: 1;
}

.checkbox__icon-tick {
  position: absolute;
  top: 1px;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
  width: 10px;
  margin: auto;
  opacity: 0;
  transition: opacity 300ms var(--ease);
  color: var(--c-headings);
}
