.content-grid {
  .page-teaser & {
    margin-bottom: 50px;

    @media (--s) {
      margin-bottom: 60px;
    }

    @media (--m) {
      margin-bottom: 70px;
    }

    @media (--l) {
      margin-bottom: 100px;
    }
  }
}

.content-grid__inner {
  padding: 50px 0 40px;

  @media (--s) {
    padding-bottom: 60px;
  }

  @media (--m) {
    padding: 70px 0;
  }

  @media (--l) {
    padding: 100px 0 80px;
  }

  .content-grid--flexible & {
    @media (--l) {
      padding-top: 130px;
      padding-bottom: 113px;
    }
  }

  .content-grid--page-404 & {
    border-top: 1px solid var(--c-borders);
  }
}

.content-grid__list {
  display: block;
  margin: 0 -10px;

  @media (--s) {
    display: flex;
  }

  @media (--l) {
    margin: 0 -20px;
  }
}

.content-grid__title {
  text-align: center;
  max-width: 50ch;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;

  @media (--m) {
    margin-bottom: 30px;
  }
}

.content-grid--flexible {
  .content-grid-item {
    margin-bottom: 47px;
  }
}
