.flex-lookbook-product {
  width: 100px;
  margin: 0 5px 10px;

  @media (--m) {
    width: 125px;
    margin: 0 15px 30px;
  }

  @media (--l) {
    width: 150px;
    margin: 0 5px 40px;
  }
}

.flex-lookbook-product__link {
  display: block;
}

.flex-lookbook-product__title {
  display: block;
  margin-top: 5px;
}
