.flex-lookbook {
  margin-bottom: 50px;

  @media (--m) {
    margin-bottom: 70px;
  }

  @media (--l) {
    margin-bottom: 100px;
  }
}

.flex-lookbook__container {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;

  @media (--s) {
    display: flex;
    padding-left: 0;
    padding-right: 0;
  }
}

.flex-lookbook__media {
  margin-bottom: 20px;

  .flex-lookbook:nth-child(even) & {
    order: 1;
  }

  @media (--s) {
    width: 64%;
    margin-bottom: 0;
  }

  @media (--l) {
    width: auto;
    flex: 1;
  }

  .video__play-button {
    left: unset;
    right: 15px;

    @media (--s) {
      right: unset;
      left: 30px;
    }

    @media (--m) {
      left: 40px;
    }

    @media (--l) {
      left: 50px;
    }
  }
}

.flex-lookbook:nth-child(even) .video__play-button {
  @media (--s) {
    left: unset;
    right: 30px;
  }

  @media (--m) {
    right: 40px;
  }

  @media (--l) {
    right: 50px;
  }
}

.flex-lookbook__content {
  @media (--s) {
    width: 36%;
    padding: 0 20px;
  }

  @media (--m) {
    padding-left: 25px;
    padding-right: 25px;
  }

  @media (--l) {
    width: 410px;
    padding-left: 30px;
    padding-right: 30px;
  }
}

.flex-lookbook__title {
  font-size: 22px;
  line-height: 1.18;
  margin-bottom: 5px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media (--m) {
    font-size: 30px;
  }
}

.flex-lookbook__description {
  margin-bottom: 30px;
}

.flex-lookbook__subtitle {
  color: var(--c-headings);
  margin-bottom: 10px;

  @media (--s) {
    margin-bottom: 15px;
  }

  @media (--m) {
    margin-bottom: 20px;
  }
}
