.flex-quote {
  margin-top: 10px;
  margin-bottom: 60px;

  @media (--s) {
    margin-top: 20px;
    margin-bottom: 70px;
  }

  @media (--m) {
    margin-bottom: 80px;
  }

  @media (--l) {
    margin-top: 50px;
    margin-bottom: 140px;
  }
}

.flex-quote__content {
  font-size: 35px;
  line-height: 1.14;
  margin-left: auto;
  margin-right: auto;

  @media (--s) {
    max-width: 37ch;
  }

  @media (--m) {
    font-size: 50px;
    line-height: 1.2;
    max-width: 35ch;
  }

  @media (--l) {
    font-size: 60px;
    line-height: 1.17;
    max-width: 45ch;
  }

  p:first-child {
    &::before {
      top: -0.6em;
    }
  }
}
