.sticky-flexible-header {
  position: sticky;
  display: block;
  width: 100%;
  top: 0 !important;
  z-index: 100;
}

.flexible-header {
  background: var(--c-header-background);
}

.flexible-header__title {
  margin: 0;
  color: var(--disco-green);
}

.flexible-header__inner {
  min-height: 50px;

  @media (--m) {
    min-height: 70px;
  }
}

/*
 * TODO: Move this to button.css to create new modifier class `btn--reverted`
 */
.flexible-header__button {
  .button__el {
    @media (--m) {
      min-width: 200px;
    }

    color: var(--c-btn-background);
    background-color: var(--c-btn-text);
  }
}
