.flex-full-width {
  .full-width__wrapper {
    min-height: 440px;
    padding-top: 60px;
    padding-bottom: 60px;

    @media (--s) {
      min-height: 372px;
    }

    @media (--m) {
      min-height: 497px;
    }

    @media (--l) {
      min-height: 700px;
    }
  }

  .icon-text-grid {
    @media (--s) {
      margin-left: -120px;
      margin-right: -120px;
    }
  }
}
