.gather-raf-wrapper {
  display: flex;
  margin-top: -81px;
  flex-direction: column;
  background-image: url("https://cdn.shopify.com/s/files/1/0265/6298/6039/t/75/assets/raf-background-4.jpg");
}

.gather-row {
  display: flex;
  width: 100%;
  flex-direction: column;

  @media (--s) {
    flex-direction: row;
  }
}

.gather-row div {
  flex: 1;
}

.gather-faq-link {
  margin-top: -40px;
  margin-bottom: 30px;
  text-align: center;
}

.gather-faq-link a {
  padding: 10px;
  background-color: white;
  font-size: 30px;
}
