.gift-card__wrapper {
  display: flex;
  flex-direction: column;
  background-color: var(--grey-light);

  @media (--s) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.gift-card__background {
  background: var(--black);

  &::before {
    padding-top: calc(250 / 320 * 100%);

    @media (--s) {
      padding-top: calc(600 / 850 * 100%);
    }
  }

  @media (--s) {
    width: 59%;
  }

  video {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-height: 0;
    max-height: none;
    object-fit: cover;
    transform: none;
  }
}

.gift-card__content {
  padding: 30px 20px 15px;

  @media (--s) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 41%;
    padding: 0;
  }
}

.gift-card__content-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 338px;
  margin: 0 auto;

  @media (--s) {
    padding: 96px 20px 0;
  }
}

.gift-card__title {
  margin-bottom: 16px;

  @media (--s) {
    max-width: 282px;
    margin-bottom: 39px;
  }
}

.gift-card__description {
  max-width: 232px;
  margin-top: 0;
  margin-bottom: 14px;

  @media (--s) {
    max-width: 260px;
  }
}

.gift-card__amount {
  margin-bottom: 15px;
  padding: 4px;
  background-color: var(--white);
  border: 1px solid var(--c-borders);
}

#gift-card-holder {
  width: 100%;
}

#gift-card-amount,
#gift-card-code-outer {
  padding: 10px;
}

#gift-card-amount {
  border-bottom: 1px solid var(--c-borders);
}

.gift-card__code {
  position: relative;
  display: inline-block;
  padding: 7px;
  background-color: var(--white);

  &::before {
    content: '';
    position: absolute;
    top: 3px;
    left: 3px;
    width: calc(100% - 8px);
    height: calc(100% - 8px);
    border: 1px solid var(--c-borders);
  }
}

.gift-card__footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 34px;
  padding: 22px 0 0;
  border-top: 1px solid var(--c-borders);

  @media (--s) {
    flex-direction: row;
    margin-top: 27px;
    padding: 27px 33px;
  }
}

.gift-card__action-link {
  margin-top: 5px;
  order: 1;

  @media (--s) {
    order: 0;
    margin-top: 0;
  }
}

.gift-card__button {
  width: 100%;

  @media (--s) {
    width: inherit;
  }
}

.gift-card__fallback {
  @media (--s) {
    display: none;
  }
}
