.header-mega-nav {
  padding: 20px 0;
  color: var(--c-nav-mobile-text);

  @media (--m) {
    padding: 40px 0 30px;
    color: var(--c-header-text);
  }
}

.header-mega-nav__list {
  @media (--m) {
    margin: 0 -20px;
  }

  .flickity-viewport {
    @media (--m-max) {
      overflow: visible;
    }
  }

  .flickity-slide {
    @media (--m-max) {
      margin-right: 10px;
    }
  }
}

.header-mega-nav__view-all {
  margin-top: 20px;

  @media (--m) {
    text-align: center;
  }
}
