.header-side__icon--search {
  display: block;
  height: 25px;
  width: 25px;

  @media (--header-breakpoint) {
    width: 30px;
    height: 30px;
  }

  @media (--l) {
    width: 35px;
    height: 35px;
  }

  circle {
    pointer-events: none;
    transition: fill var(--transition-default);
  }

  button:hover & {
    circle {
      fill: var(--snow);
    }
  }

  button[aria-checked="true"] &.icon-search {
    display: none;
  }

  button[aria-checked="false"] &.icon-close {
    display: none;
  }
}
