.header-side__icon--cart {
  display: block;
  width: 25px;
  height: 25px;
  position: relative;

  @media (--header-breakpoint) {
    width: 30px;
    height: 30px;
  }

  @media (--l) {
    width: 35px;
    height: 35px;
  }
}

.header-side__cart-count {
  font-family: var(--buttons-font-family);
  font-size: 8px;
  position: absolute;
  text-align: center;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  line-height: 12px;
  top: 3px;
  right: -3px;
  background-color: var(--c-link-hover);
  color: var(--cobalt-blue);

  @media (--header-breakpoint) {
    width: 14px;
    height: 14px;
    line-height: 16px;
    top: 2px;
    right: -4px;
  }
}
