.home-hero--page {
  margin-bottom: 130px;

  .hero__wrapper {
    margin-bottom: -110px;
    padding: 25px;
    background-color: var(--cobalt-blue);

    @media (--s) {
      max-width: 686px;
      padding: 35px;
    }

    @media (--m) {
      margin-bottom: -130px;
    }
  }

  .hero__featured {
    max-height: 100% !important; /* reset height restriction */
  }

  .hero__title {
    @extend .h1-new;

    margin-bottom: 12px;

    @media (--s) {
      max-width: 550px;
      margin-bottom: 20px;
    }

    color: var(--white);
  }

  .hero__content {
    @extend .p4;

    max-width: 180px;
    margin-left: auto;
    margin-right: auto;
    color: var(--white);

    @media (--s) {
      max-width: 400px;
    }
  }

  .align-c .hero__title,
  .align-c .hero__title .a-slide-wrap {
    margin-left: auto;
    margin-right: auto;
  }

  .newsletter__btn,
  .button__el {
    background-color: var(--white);
    color: var(--cobalt-blue);
  }

  .newsletter__btn {
    margin-top: 30px;

    @media (--s) {
      margin-left: 20px;
      margin-top: 0;
    }
  }

  .newsletter__form {
    flex-wrap: wrap;
    justify-content: center;
  }

  .text-input__el {
    color: var(--white);
    padding: 10px 0;
    border: 0;
    border-bottom: 1px solid var(--white);
    text-align: center;
    background: transparent;
  }

  .newsletter__response {
    color: var(--white);
  }

  ::placeholder {
    color: var(--white);
    opacity: 0.5;
  }

  .hero__sign-up-form {
    max-width: 180px;
    margin: 0 auto;

    @media (--s) {
      max-width: 400px;
    }
  }
}
