.instagram-feed--product {
  padding-top: 50px;

  @media (--s) {
    padding-top: 70px;
  }

  @media (--m) {
    padding-top: 80px;
  }

  @media (--l) {
    padding-top: 100px;
  }

  .instagram-feed__wrapper {
    padding-bottom: 0;
  }
}

.instagram-feed__title {
  max-width: 174px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;

  @media (--s) {
    max-width: 270px;
    margin-bottom: 20px;
  }

  @media (--m) {
    max-width: 340px;
    margin-bottom: 25px;
  }

  @media (--l) {
    max-width: 412px;
    margin-bottom: 30px;
  }
}

.instagram-feed__wrapper {
  padding-bottom: 60px;

  @media (--m) {
    padding-bottom: 90px;
  }

  @media (--l) {
    padding-bottom: 100px;

    .template-flexible & {
      padding-bottom: 110px;
    }
  }
}

.instagram-feed .instagram-feed__wrapper {
  .showcase-slider {
    margin-bottom: 0;
  }

  .showcase-track {
    padding: 0 !important;
  }

  .showcase-grid {
    margin-left: -5px !important;
    margin-right: -5px !important;

    @media (--s) {
      margin-left: -10px !important;
      margin-right: -10px !important;
    }

    @media (--m) {
      margin-left: -15px !important;
      margin-right: -15px !important;
    }
  }

  .showcase-grid-item {
    @media (--m) {
      padding-left: 15px !important;
      padding-right: 15px !important;
    }

    @media (--l) {
      padding-left: 20px !important;
      padding-right: 20px !important;
    }

    &:nth-child(odd) {
      padding-top: 10px !important;

      @media (--m) {
        padding-top: 20px !important;
      }
    }

    &:nth-child(even) {
      padding-bottom: 10px !important;

      @media (--m) {
        padding-bottom: 20px !important;
      }
    }
  }

  .showcase-slider-control {
    top: 50% !important;
    transform: translate3d(0, -50%, 0);
    width: 25px !important;
    height: 25px !important;
    border: solid 1px var(--c-btn-border) !important;
    background-color: var(--c-btn-background) !important;
    transition: opacity var(--duration) var(--ease), background-color var(--duration) var(--ease) !important;

    @media (--s) {
      width: 30px !important;
      height: 30px !important;
    }

    @media (--m) {
      width: 40px !important;
      height: 40px !important;
    }

    &:hover {
      background-color: var(--c-link-hover) !important;
    }

    &.prev {
      left: -13px !important;
      right: auto !important;

      @media (--s) {
        left: -15px !important;
      }

      @media (--m) {
        left: -20px !important;
      }
    }

    &.next {
      left: auto !important;
      right: -13px !important;

      @media (--s) {
        right: -15px !important;
      }

      @media (--m) {
        right: -20px !important;
      }

      &::after {
        transform: translate3d(-50%, -50%, 0) rotate(45deg);
      }
    }

    .fa {
      display: none;
    }

    &::after {
      position: absolute;
      top: 50%;
      left: 45%;
      width: 6px;
      height: 6px;
      border-top: 1px solid var(--c-btn-text);
      border-right: 1px solid var(--c-btn-text);
      border-left: 0;
      transform: translate3d(-50%, -50%, 0) rotate(-135deg);

      @media (--m) {
        border-top-width: 2px;
        border-right-width: 2px;
        width: 8px;
        height: 8px;
      }
    }
  }
}

.instagram-feed__footer {
  margin-top: 50px;

  @media (--s) {
    margin-top: 56px;
  }
}

.instagram-feed__button {
  min-width: 206px;

  @media (--s) {
    min-width: 160px;
  }

  @media (--m) {
    height: 36px;

    .button__el {
      height: 36px;
      line-height: 36px;
    }
  }
}
