.intro-text {
  padding: 72px 0;

  @media (--l) {
    padding: 130px 0;
  }

  .template-index & {
    padding: 22px 0;

    @media (--l) {
      padding: 36px 0;
    }
  }
}

.intro-text__title {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  max-width: 960px;
  margin-bottom: 18px;
}

.intro-text__description {
  max-width: 840px;
  color: var(--cobalt-blue);
}
