.list-collections__item:not(:last-child) {
  margin-bottom: 50px;
}

.list-collections__bottom {
  padding: 50px 0;

  @media (--s) {
    padding: 100px 0;
  }
}

.list-collections__button {
  width: 100%;

  @media (--s) {
    width: auto;
  }
}
