.lookbook-product-grid {
  .module-header {
    margin-bottom: 17px;

    @media (--s) {
      margin-bottom: 20px;
    }

    @media (--m) {
      margin-bottom: 24px;
    }

    @media (--l) {
      margin-bottom: 20px;
    }
  }

  .related-products__inner {
    padding: 0;
    margin-top: 50px;
    margin-bottom: 45px;

    @media (--s) {
      margin-bottom: 70px;
    }

    @media (--m) {
      margin-bottom: 90px;
    }

    @media (--l) {
      margin-bottom: 100px;
    }
  }
}
