.container {
  .mini-cart & {
    margin: 0 auto;
    position: relative;
    width: calc(100% - 20px * 2);

    @media (--m) {
      width: calc(100% - 30px * 2);
    }
  }
}

.mini-cart,
.mini-cart-bg {
  position: fixed;
  z-index: 10000;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
}

.mini-cart {
  z-index: 10001;
  top: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;

  @media (--s) {
    max-width: 375px;
    top: 0;
    left: auto;
  }

  @media (--m) {
    max-width: 420px;
  }

  @media (--xl) {
    max-width: 480px;
  }
}

.mini-cart__header {
  padding-top: 25px;
}

.mini-cart__header__title {
  margin-bottom: 0;

  @media (--l) {
    margin-bottom: 10px;
  }

  @media (--xl) {
    font-size: 30px;
    line-height: 1.17;
  }
}

.mini-cart__close {
  position: absolute;
  top: 30px;
  right: 0;
  z-index: 902;

  @media (--m) {
    top: -2px;
  }

  .is-icon {
    display: block;
    height: 17px;
    width: 17px;
    z-index: 1000;
    color: var(--c-headings);

    &:hover {
      color: var(--c-link-hover);
    }
  }
}

.mini-cart-bg {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.2);
}

.mini-cart-leave-active,
.mini-cart-enter-active {
  transition: all 0.45s var(--ease);
}

.mini-cart-enter-to {
  transform: translate3d(0, 0, 0);
}

.mini-cart-enter,
.mini-cart-leave-to {
  transform: translate3d(0, 100%, 0);

  @media (--s) {
    transform: translate3d(100%, 0, 0);
  }
}
