.modal {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  position: fixed;
  opacity: 0;
  pointer-events: none;
  transition-duration: var(--speed);
  transition-property: opacity, visibility, z-index;
  transition-timing-function: var(--ease);
  visibility: hidden;
  z-index: -99;
  -webkit-overflow-scrolling: touch;

  @media (--s) {
    align-items: center;
    padding: 30px 0;
  }

  @media (--m) {
    padding: 40px 0;
  }

  &.is-active {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    z-index: 9999;
  }
}

.modal__container {
  flex: 0 0 auto;
  width: 100%;
  height: 80%;
  max-height: 660px;
  max-width: 950px;
  padding: 60px 20px 30px;
  background-color: var(--snow);
  z-index: 1;
  overflow-y: scroll;

  @media (--s) {
    width: calc(100% - 40px);
    height: 100%;
  }

  .shop-the-look &,
  .flex-lookbook-product & {
    padding: 35px 20px 20px;
    height: auto;

    @media (--s) {
      max-width: 450px;
      padding: 80px;
    }
  }
}

.modal__overlay {
  display: block;
  position: fixed;
  background-color: rgba(var(--black), 0.2);
}

.modal__close {
  position: absolute;
  top: 15px;
  right: 20px;
  width: 10px;
  height: 10px;
  font-size: 0;
  cursor: pointer;
  pointer-events: auto;
  opacity: 0;
  transition: opacity var(--duration) var(--ease), color var(--duration) var(--ease);
  color: var(--c-headings);

  @media (--s) {
    top: 30px;
    right: 30px;
    width: 15px;
    height: 15px;
  }

  .is-active & {
    opacity: 1;
  }

  &:hover {
    color: var(--c-link-hover);
  }
}

/* No Touch */
.no-touch {
  .modal__close {
    transition: opacity var(--speed) var(--ease);

    &:hover {
      opacity: 0.5;
    }
  }
}

.modal--content-drawer {
  @media (--s) {
    padding: 0;
  }

  .modal__container {
    position: static;
    width: 100%;
    height: 100%;
    max-height: unset;
    padding: 30px 20px 20px;
    background-color: var(--white);
    overflow-y: scroll;
    overflow-x: hidden;
    margin-right: 0;

    @media (--s) {
      max-width: 50%;
      padding: 30px 40px 20px;
    }

    @media (--m) {
      max-width: 660px;
      padding: 40px 40px 20px;
    }

    @media (--l) {
      max-width: 740px;
      padding: 60px 60px 20px;
    }
  }

  .modal__close {
    top: 16px;
    right: 18px;
    width: 12px;
    height: 12px;
    padding: 0;
    border: none;

    @media (--s) {
      top: 40px;
      right: 40px;
    }

    @media (--m) {
      width: 17px;
      height: 17px;
      top: 60px;
      right: 40px;
    }

    @media (--l) {
      right: 60px;
    }

    svg {
      width: 100%;
      height: 100%;
    }
  }

  .modal__title {
    @extend .h4;

    text-align: center;
    margin-top: 0;
    margin-bottom: 9px;
  }
}
