.module-header {
  margin-bottom: 30px;

  .product-grid--page &,
  .three-up--page & {
    @media (--ml) {
      margin-bottom: 65px;
    }
  }
}

.module-header__title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .three-up--blog & {
    text-transform: capitalize;
  }

  .template-flexible & {
    @extend .head-line;
  }
}
