.page-flex {
  padding-top: 25px;
  padding-bottom: 25px;

  @media (--s) {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .page-flex__item {
    padding-top: 25px;
    padding-bottom: 25px;

    @media (--s) {
      padding-top: 30px;
      padding-bottom: 30px;
    }

    @media (--m) {
      padding-top: 35px;
      padding-bottom: 35px;
    }

    @media (--l) {
      padding-top: 50px;
      padding-bottom: 50px;
    }
  }
}
