.pagination--three-up {
  margin-top: 30px;

  @media (--m) {
    margin-top: 40px;
  }
}

/**
 * Page number
 */
.pagination__page {
  a,
  span {
    margin: 0 5px;
    color: rgba(var(--asphalt), 0.5);
    text-decoration: none;
  }

  .is-active {
    color: var(--c-headings);
  }
}

/**
 * Prev/next arrow
 */
.pagination__arrow {
  color: var(--grey);
  text-decoration: none;
  vertical-align: text-top;

  svg {
    width: 16px;
    height: 16px;

    @media (--m) {
      width: 18px;
      height: 18px;
    }
  }
}

.pagination__arrow-next-prev {
  padding: 0 10px;
  color: var(--black);
  vertical-align: sub;

  &.is-disabled {
    color: var(--grey);
  }
}
