.password__wrapper {
  .password--two_up & {
    display: flex;
    flex-direction: column;

    @media (--s) {
      flex-direction: row;
    }
  }
}

.password__background {
  overflow: hidden;
  height: 100vh;
  max-width: 100%;
  background: var(--c-background);

  .password--two_up & {
    height: 50vh;

    @media (--s) {
      width: 50%;
      height: 100vh;
    }
  }
}

.password__content {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  margin: 0 auto;
  z-index: 1;

  .password--two_up & {
    position: relative;
    padding: 30px 0;

    @media (--s) {
      position: absolute;
      width: 50%;
      left: auto;
    }
  }
}

.password__content-inner {
  max-width: 400px;
  margin: 0 auto;
}

.password__title {
  margin-bottom: 12px;
}

.password__button {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 2;

  @media (--l) {
    top: 32px;
    right: 80px;
  }
}

.storefront-password-form {
  position: relative;
  max-width: 620px;
  margin: 0 auto;
  padding: 50px 20px 20px;
  background: var(--white);

  @media (--s) {
    height: auto;
    padding: 75px 110px 57px;
  }
}

.password__newsletter {
  input {
    height: 50px;
    padding: 0 10px;
    background: var(--white);
  }

  .newsletter__btn {
    width: 100%;
    margin-top: 10px;

    @media (--s) {
      min-width: 100px;
      width: auto;
      margin-top: 0;
    }
  }
}

.password__icon {
  width: 43px;

  .password--full_page & {
    position: fixed;
    top: 25px;
    left: 20px;

    @media (--s) {
      top: 32px;
      left: calc(50% - 20px);
    }
  }

  .password--two_up & {
    display: inline-block;
  }
}

.password__modal {
  position: fixed;
  bottom: 0;
  display: table;
  width: 100%;
  z-index: 999;
  opacity: 0;
  visibility: hidden;

  @media (--s) {
    height: 100%;
  }

  &::before {
    content: '';
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background: var(--black-70);
    z-index: 0;
  }

  .error {
    color: var(--red);
  }
}

.password__modal--is-active {
  opacity: 1;
  visibility: visible;
}

.password__modal-inner {
  display: table-cell;
  vertical-align: middle;
}

.password__modal-submit {
  display: block;
  width: 100%;
  margin: 0 auto;

  @media (--s) {
    width: auto;
  }
}

.password__modal-close {
  position: absolute;
  right: 12px;
  top: 12px;
  width: 45px;
  height: 45px;
  padding: 13px;
  border: 1px solid;
  border-radius: 100%;
}
