.plp-sidebar {
  width: 100%;

  @media (--s) {
    width: 156px;
    margin-right: 20px;
  }

  @media (--m) {
    width: 204px;
    margin-right: 30px;
  }

  @media (--l) {
    width: 290px;
    margin-right: 40px;
  }
}

.plp-sidebar__list--collections {
  overflow: hidden;
  max-height: 0;
  transition: max-height 600ms ease-in-out;
  margin-bottom: 20px;
  border-bottom: 1px solid var(--c-borders);

  @media (--m) {
    margin-bottom: 0;
    max-height: none;
    border-bottom: none;
  }

  .is-collection-list-active & {
    max-height: 1000px;

    @media (--m) {
      max-height: none;
    }

    .icon {
      transform: rotate(180deg);
    }
  }
}

.plp-sidebar__show-collections {
  cursor: pointer;
  padding: 20px 0;
  position: relative;

  .is-search & {
    display: none;
  }

  @media (--m) {
    display: none;
  }

  .icon {
    height: 8px;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    transform: rotate(0deg);
    transition: transform var(--speed) var(--ease);
    width: 10px;

    @media (--xs) {
      top: 4px;
    }
  }
}

.plp-sidebar__list--filters {
  width: 100vw;
  max-width: 227px;
  height: calc(100vh - var(--header-height));
  overflow: visible;
  -webkit-overflow-scrolling: touch;
  position: fixed;
  top: var(--header-height);
  right: 0;
  background: var(--white);
  z-index: 999;
  padding: 20px;
  transform: translateX(250px);
  transition: transform 300ms ease-in-out;
  display: flex;
  flex-direction: column;

  .is-search & {
    @media (--s) {
      border-top: none;
      padding-top: 0;
    }
  }

  @media (--s) {
    position: relative;
    max-width: none;
    width: auto;
    height: auto;
    top: 0;
    padding: 0;
    box-shadow: none;
    z-index: 1;
    transition: none;
    transform: none;
    overflow-y: inherit;
    background: transparent;
  }

  .plp--search & {
    @media (--s) {
      padding-top: 0;
      border-top: 0;
    }
  }
}

.plp-sidebar__list--filters.is-active {
  transform: translateX(0);
}

.plp-sidebar__list-group-inner--color {
  display: flex;
  flex-wrap: wrap;
}

.plp-sidebar__color-circle {
  margin: 3px 5px;
}

.plp-sidebar__list-group > ul {
  padding: 10px 0 0 0;
}

.plp-sidebar__list-group li.is-active {
  padding: 2px 5px;
}

.plp-sidebar__list-group-item {
  text-transform: capitalize;
  cursor: pointer;
}

.plp-sidebar__list-group-item + .plp-sidebar__list-group-item {
  margin: 3px 0 0;
}

.plp-sidebar__list-group-item--filter {
  display: flex;
  align-items: center;
}

.plp-sidebar__list-group-item--filter + .plp-sidebar__list-group-item--filter {
  margin: 10px 0 0;

  @media (--m) {
    margin-top: 15px;
  }
}

.plp-sidebar__apply-filter {
  padding-top: 20px;
  border-top: 1px solid var(--c-borders);
  margin-bottom: 5px;

  @media (--s) {
    display: none;
  }
}

.plp-sidebar__reset-filter {
  @media (--s) {
    display: none;
  }

  a {
    @extend %link;
  }
}

.plp-sidebar__list-overlay {
  position: fixed;
  top: var(--header-height);
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 998;
  background: rgba(var(--black), 0.2);
}

.plp-sidebar__list-group {
  padding-bottom: 20px;

  @media (--s) {
    padding-bottom: 25px;
  }

  &:last-child {
    border-bottom: none;
  }

  &:first-child {
    padding-top: 0;
  }

  @media (--s) {
    padding-top: 20px;
    border-bottom: 1px solid var(--c-borders);
  }

  .checkbox__icon {
    position: relative;
    width: 25px;
    height: 25px;
    margin-right: 10px;

    @media (--m) {
      width: 30px;
      height: 30px;
      margin-right: 15px;
    }
  }

  .checkbox__icon-el {
    height: 25px;
    width: 25px;
    margin-right: 10px;
    border-color: var(--c-borders);

    @media (--m) {
      width: 30px;
      height: 30px;
      margin-right: 15px;
    }
  }

  .checkbox__text {
    font-family: var(--body-font-family);
    font-size: var(--body-font-size-mobile);

    @media (--m) {
      font-size: var(--body-font-size);
    }
  }
}

.plp-sidebar__list-group--color {
  > ul {
    display: flex;
    flex-wrap: wrap;
    margin-right: -9px;
    margin-bottom: -10px;

    @media (--m) {
      margin-right: -14px;
      margin-bottom: -20px;
    }

    @media (--l) {
      margin-right: -16px;
    }
  }

  .plp-sidebar__list-group-item {
    margin-top: 0;
    margin-right: 9px;
    margin-bottom: 10px;
    border-radius: 50%;
    text-indent: -9999em;
    position: relative;

    @media (--m) {
      margin-right: 14px;
      margin-bottom: 20px;
    }

    @media (--l) {
      margin-right: 16px;
    }
  }

  .checkbox__icon {
    width: 30px;
    height: 30px;
    margin: 0;

    @media (--m) {
      width: 40px;
      height: 40px;
    }

    @media (--l) {
      width: 45px;
      height: 45px;
    }
  }

  .plp-sidebar__list-group-item--white .checkbox__icon-el {
    border-color: rgba(var(--black), 0.08);
  }

  .checkbox__icon-el {
    border: 2px solid rgba(0, 0, 0, 0.05);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    margin: 0;

    &:checked {
      border-color: var(--c-headings);
    }
  }

  .checkbox__icon-tick {
    display: none;
  }

  .checkbox__text {
    white-space: nowrap;
  }
}

.plp-sidebar__body {
  flex: 1;
  overflow: hidden scroll;
  margin-left: -6px;
  margin-right: -6px;
  padding-left: 6px;
  padding-right: 6px;
  display: flex;
  flex-direction: column;

  @media (--s) {
    overflow: hidden;
  }
}

.plp-sidebar__close {
  position: absolute;
  top: 15px;
  right: 15px;
  padding: 5px;
  background-color: var(--white);
  z-index: 100;

  @media (--s) {
    display: none;
  }

  svg {
    color: var(--c-headings);
    width: 12px;
    height: 12px;
  }

  &:hover svg {
    color: var(--c-link-hover);
  }
}

.plp-sidebar__filter-label {
  display: none;

  @media (--s) {
    display: block;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid var(--c-borders);
    padding-top: 10px;
  }

  @media (--m) {
    padding-top: 12px;
  }
}

.plp-sidebar__list-group--denominations {
  display: none;
}

.plp-sidebar__list-group--bottom-size:first-child {
  order: 1;

  @media (--s) {
    border-bottom: 0;
    border-top: 1px solid var(--c-borders);
    padding-top: 20px;
  }

  + .plp-sidebar__list-group {
    padding-top: 0;
  }
}
