.plp__inner {
  position: relative;
  display: flex;
  flex-flow: wrap;
  padding: 20px 0 30px;

  @media (--s) {
    flex-flow: nowrap;
    padding: 20px 0 40px;
  }

  @media (--m) {
    padding-top: 30px;
  }

  @media (--l) {
    padding-top: 40px;
    padding-bottom: 50px;
  }
}

.plp__sort-bar {
  display: flex;
}

.plp__hero--search {
  padding-top: 40px;

  @media (--m) {
    padding-top: 80px;
  }
}

.is-search .plp__sort-bar.is-empty {
  @media (--m) {
    padding-bottom: 0;
  }
}

.plp__sort-bar__left {
  display: flex;
  width: 50%;
  align-items: center;

  @media (--m) {
    width: calc(100% - 240px);
    align-items: flex-end;
  }
}

.plp__sort-bar__right {
  display: flex;
  justify-content: flex-end;
  width: 50%;
}

.plp__sort-bar-filter-trigger {
  @media (--s) {
    display: none;
  }
}

.plp__grid-wrap {
  width: 100%;

  @media (--s) {
    width: auto;
    flex: 1;
  }

  &.is-empty {
    visibility: hidden;
  }
}

.plp__grid {
  display: flex;
  flex-wrap: wrap;
  padding-top: 20px;

  @media (--s) {
    justify-content: space-between;
    width: 100%;
    margin-left: 0;
  }

  @media (--m) {
    padding-top: 30px;
  }

  .plp__grid-wrap--small & {
    width: calc(100% + 20px);
    margin-left: -10px;
  }
}

.plp__grid-first-row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;

  @media (--m) {
    flex-wrap: nowrap;
  }
}

.plp__grid-item {
  padding-bottom: 30px;

  @media (--s) {
    padding-bottom: 20px;
  }

  @media (--m) {
    padding-bottom: 40px;
  }

  @media (--l) {
    padding-bottom: 50px;
  }

  .product-card__details {
    @media (--m) {
      margin-top: 15px;
    }
  }

  .color-selector {
    margin-top: 10px;

    @media (--m) {
      margin-top: 15px;
    }
  }
}

.plp__grid-item-group {
  position: relative;
  width: 100%;
  align-content: space-between;
  display: flex;
  flex-wrap: wrap;

  @media (--m) {
    width: calc(33.32% - 20px);
    margin: 0 10px;
  }
}

.plp__grid-item--normal {
  width: 100%;

  @media (--s) {
    width: calc(50% - 10px);
  }

  @media (--m) {
    width: calc(50% - 15px);
  }

  @media (--l) {
    width: calc(50% - 20px);
  }

  .plp__grid-wrap--small & {
    width: calc(50% - 20px);
    margin: 0 10px;

    @media (--s) {
      width: calc(25% - 20px);
    }
  }
}

.plp__grid-item--featured {
  width: 100%;

  @media (--m) {
    width: calc(66.65% - 20px);
  }
}

.plp__grid-item--first-row-sm {
  width: 100%;

  @media (--xxs) {
    width: calc(50% - 20px);
  }

  @media (--m) {
    width: 100%;
    margin: 0;
  }
}

.plp__button {
  margin-top: 10px;
  margin-bottom: 10px;

  @media (--s) {
    margin-top: 35px;
    margin-bottom: 35px;
  }

  .btn {
    min-width: 180px;

    @media (--m) {
      min-width: 200px;
    }
  }
}

.plp__compact-view-btn {
  margin: auto;
}

.plp__grid--not-ajaxing {
  opacity: 0;
}
