.press {
  padding: 70px 0 40px;
  background-color: var(--c-background-inverted);
  color: var(--c-text-inverted);

  @media (--s) {
    padding-bottom: 30px;
  }

  @media (--m) {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  @media (--l) {
    padding-top: 143px;
    padding-bottom: 65px;
  }

  .module-header {
    margin-bottom: 20px;

    @media (--s) {
      margin-bottom: 55px;
    }

    @media (--l) {
      margin-bottom: 65px;
    }
  }

  .flickity-viewport {
    @media (--m) {
      overflow: hidden;
    }
  }

  .flickity-slide {
    display: flex;
  }
}

.press__carousel,
.press__carousel-nav {
  justify-content: center;
}

.press__carousel {
  height: 100%;
  margin-bottom: 40px;

  @media (--s) {
    margin-bottom: 60px;
  }

  @media (--m) {
    margin-bottom: 60px;
  }

  @media (--l) {
    margin-bottom: 70px;
  }
}

.press__carousel-nav {
  margin: 45px 0;

  @media (--m) {
    max-width: calc(100% - 50px);
    margin-left: auto;
    margin-right: auto;
  }

  @media (--xl) {
    margin-bottom: 80px;
  }

  .flickity-slide {
    display: flex;
    max-width: 58%;
    max-width: calc(35px * var(--image-ratio));
    max-height: 40px;
    margin: 0 16px;

    @media (--m) {
      max-height: 73px;
      max-width: 100%;
      max-width: calc(73px * var(--image-ratio));
    }

    @media (--l) {
      width: 20%;
      margin: 0 30px;
    }
  }

  .flickity-prev-next-button {
    width: 50px;
    height: 50px;
    background: var(--disco-green);
    border-radius: 50%;
    display: none;

    @media (--m) {
      display: block;
      right: -70px;
    }
  }

  .flickity-prev-next-button.previous {
    @media (--m) {
      left: -70px;
    }
  }
}
