.press-item-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  opacity: 0.3;
  cursor: pointer;
  width: 100%;

  .flickity-slide:first-child:last-child &,
  .is-nav-selected & {
    opacity: 1;
  }
}

.press-item-nav__image-wrapper {
  position: relative;
}

.press-item-nav__image {
  max-width: 70%;
  background-color: transparent;

  @media (--m) {
    max-width: 100%;
  }
}

.press-item__text {
  color: var(--snow);
  max-width: 48ch;
  padding-left: 17px;
  padding-right: 17px;
  margin-left: auto;
  margin-right: auto;
}
