.product-card {
  position: relative;
  display: flex;
  flex-direction: column;
}

.product-card__featured {
  display: block;
  position: relative;
}

.product-card__details,
.product-card__btn {
  display: block;
  margin-top: 10px;

  @media (--l) {
    margin-top: 15px;
  }

  .product-grid--page & {
    margin-top: 18px;

    @media (--l) {
      margin-top: 20px;
    }
  }
}

.product-card__btn {
  margin-top: 15px;

  @media (--m) {
    margin-top: 20px;
  }
}

.product-card__header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product-card__title {
  flex: 1;
}

.product-card__reviews {
  width: 100%;
  margin-bottom: 5px;

  @media (--s) {
    margin-bottom: 0;
  }

  @media (--l) {
    margin-left: 5px;
  }
}

.product-card__variants {
  margin-top: 10px;
}

.product-card--list {
  width: 100%;

  @media (--m) {
    display: flex;
    align-items: center;
  }

  .product-card__featured {
    width: 100%;
    height: 300px;
    padding-top: 0;
    margin-right: 2em;
    flex-shrink: 0;

    @media (--m) {
      width: 300px;
    }
  }
}

.product-card__badge {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 10px;
  right: 10px;
  z-index: 1;

  @media (--m) {
    width: 75px;
    height: 75px;
    top: 18px;
    right: 18px;
  }

  img {
    max-width: 100%;
    height: auto;
    /* stylelint-disable */
    aspect-ratio: 75 / 75;
    /* stylelint-enable */
  }
}

.product-card__image--hover {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s var(--ease), visibility 0.5s var(--ease);

  .product-card__featured:hover & {
    opacity: 1;
    visibility: visible;
  }
}

.product-card__price {
  text-align: right;

  del + span {
    color: var(--coral-pink);
  }
}

.product-card__bottom {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.product-card__footer {
  display: flex;
  justify-content: space-between;

  &.product-card__footer--no-color {
    justify-content: flex-end;
  }
}

.product-card__shop {
  display: none;

  @media (--s) {
    display: block;
  }

  @media (--ml) {
    min-width: 160px;
  }

  .product-card__header & {
    margin-top: 0;
  }
}

.product-card__discount-message,
.product-card__discount-message-mobile {
  color: var(--coral-pink);
  font-style: italic;
}

.product-card__discount-message {
  display: none;

  @media (--xl) {
    display: inline-block;
  }
}

.product-card__discount-message-mobile {
  display: block;

  @media (--xl) {
    display: none;
  }
}
