.product-features {
  .text-and-image {
    padding-top: 0;
    padding-bottom: 50px;

    @media (--s) {
      padding-bottom: 60px;
    }

    @media (--m) {
      padding-bottom: 80px;
    }

    @media (--l) {
      padding-bottom: 110px;
    }

    &:first-child {
      padding-top: 0;
    }

    &:last-child {
      padding-bottom: 0;
    }
  }
}
