.quiz-question__outer {
  max-height: 100%;
}

.quiz-question__inner {
  padding-top: 65px;
  padding-bottom: 65px;

  @media (--s) {
    padding-top: 95px;
    padding-bottom: 95px;
  }

  @media (--m) {
    padding-top: 125px;
    padding-bottom: 125px;
  }

  @media (--xl) {
    padding-top: 150px;
    padding-bottom: 150px;
  }
}

.quiz-question__option__image {
  display: inline-block;
  margin-right: 10px;
  width: 16px;
  height: 16px;
  transition: transform var(--duration) var(--ease);
}

.quiz-question__option {
  width: calc(50% - 12px);
  padding: 17px 15px;
  margin: 0 6px 12px;
  cursor: pointer;
  transition: box-shadow var(--duration) var(--ease), opacity var(--duration) var(--ease), transform var(--duration) var(--ease);

  &:hover {
    .quiz-question__option__image {
      transform: scale(1.03);
    }

    .quiz-question__option__checkbox,
    .quiz-question__option__radio {
      box-shadow: inset 0 0 0 1px var(--grey-light), 0 0 10px 0 rgba(0, 0, 0, 0.12);
      transform: scale(1.03);
    }
  }
}

.quiz-question__option__checkbox,
.quiz-question__option__radio {
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  box-shadow: inset 0 0 0 1px var(--grey-light);
  transition: box-shadow var(--duration) var(--ease), transform var(--duration) var(--ease);
  pointer-events: none;

  /* Border draw transition */
  &::before,
  &::after {
    box-sizing: inherit;
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border: 1px solid transparent;
  }

  &::before {
    bottom: 0;
    right: 0;
  }

  &::after {
    top: 0;
    left: 0;
  }

  &:checked {
    &::before,
    &::after {
      width: 100%;
      height: 100%;
    }

    &::before {
      border-right-color: var(--black);
      border-top-color: var(--black);
      transition:
        height 0.14s ease-out,
        width 0.1s ease-out 0.14s;
    }

    &::after {
      border-left-color: var(--black);
      border-bottom-color: var(--black);
      transition:
        border-color 0s ease-out 0.24s,
        height 0.14s ease-out 0.24s,
        width 0.1s ease-out 0.38s;
    }
  }
}

.quiz-question__option__text {
  line-height: 1.25;
}

.btn.quiz-question__submit {
  width: 100%;
  margin-top: 10px;

  @media (--xs) {
    width: auto;
  }

  @media (--m) {
    margin-top: 25px;
  }
}

.quiz-question__tip {
  margin-top: 2em;

  @media (--ml) {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin-top: 0;
    margin-bottom: 2em;
  }
}
