.quiz {
  min-height: 100vh;

  @media (--s) {
    @extend .fill;

    position: absolute;
    margin: auto;
  }
}

.quiz__container {
  height: 100%;

  @media (--s) {
    width: 100%;
  }
}

.quiz__left,
.quiz__right {
  position: relative;
  width: 100%;
  height: 100%;

  @media (--s) {
    width: 50%;
  }
}

.quiz__left {
  display: none;

  @media (--s) {
    display: block;
  }
}

.quiz__image {
  height: 100%;
}

.quiz__app {
  margin: 0 auto;
  overflow: hidden;

  @media (--s) {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0 20px;
    overflow-y: scroll;
  }
}

.quiz__header {
  padding: 1.75em 0;

  @media (--s) {
    padding: 2.5em 0;
  }
}

.quiz__menu__item {
  margin-left: 1em;
  color: var(--c-text);
  cursor: pointer;
  opacity: 0.5;
  transition: opacity var(--duration) var(--ease);

  @media (--s) {
    margin-left: 1.5em;
  }

  &:first-child {
    margin-left: 0;
  }

  &--active {
    opacity: 1;
  }
}

.quiz__question,
.quiz__loading,
.quiz__results {
  @extend .outer;

  max-width: 400px;
  min-height: 100%;
  margin: 0 auto;

  @media (--s) {
    min-height: 100%;
  }
}

.quiz__loading,
.quiz__results {
  padding-top: 65px;
  padding-bottom: 65px;

  @media (--s) {
    padding-top: 95px;
    padding-bottom: 95px;
  }

  @media (--m) {
    padding-top: 125px;
    padding-bottom: 125px;
  }

  @media (--xl) {
    padding-top: 150px;
    padding-bottom: 150px;
  }
}

.quiz__loading__icon svg {
  animation: shake 0.8s cubic-bezier(0.36, 0.07, 0.19, 0.97) infinite;
}

.quiz__results__wrapper {
  flex: 1 0 auto;
}

.quiz-result {
  width: calc(50% - 6px);
  margin-right: 12px;

  &:nth-child(2n) {
    margin-right: 0;
  }

  @media (--s) {
    width: calc(50% - 10px);
    margin-right: 20px;
    margin-bottom: 5px;
  }
}

.quiz__retake {
  width: 100%;
  cursor: pointer;

  &:hover {
    .quiz__retake__icon {
      transition: transform var(--duration) var(--ease);
      transform: rotate(-360deg);
    }
  }
}

.quiz__retake__icon {
  display: block;
  width: 14px;
  height: 14px;
  margin-right: 12px;
}

/* Vue Transitions */
.fade-enter-active,
.fade-leave-active {
  transition: opacity var(--duration) var(--ease);
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.slide-left-enter-active,
.slide-left-leave-active {
  transition: transform var(--duration) cubic-bezier(1, 0.5, 0.8, 1), opacity var(--duration) cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-left-enter,
.slide-left-leave-to {
  opacity: 0;
}

.slide-left-enter {
  transform: translateX(10px);
}

.slide-left-leave-to {
  transform: translateX(-10px);
}
