.sign-up-form {
  position: relative;
  margin-bottom: 70px;

  @media (--s) {
    padding: 100px 0;
    margin-bottom: 100px;
  }

  @media (--m) {
    padding: 200px 0;
  }
}

.sign-up-form__background {
  @media (--s) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &::before {
    padding-bottom: calc(380 / 320 * 100%);
  }
}

.sign-up-form__title {
  color: var(--white);

  @media (--l) {
    margin-bottom: 50px;
  }
}

.sign-up-form__content {
  position: relative;
  max-width: 840px;
  margin: 0 auto;
  padding: 45px 20px;
  color: var(--white);
  background-color: var(--cobalt-blue);
  z-index: 10;
}
