.social-links {
  display: flex;
  white-space: nowrap;

  .footer-mega & {
    justify-content: center;
  }

  &.header__social-links {
    display: none;

    @media (--m) {
      display: flex;
    }
  }
}

.social-links__icon {
  position: relative;
  display: block;
  width: 15px;
  height: 15px;
  margin: 0.5em;
  color: var(--c-footer-text);
  transition: color var(--duration) var(--ease);

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }

  &:hover {
    color: var(--c-link-hover);
  }

  a {
    display: block;
    line-height: 0;

    .header__social-links & {
      color: var(--c-nav-mobile-text);

      @media (--header-breakpoint) {
        color: var(--c-header-text);
      }
    }

    .header--transparent & {
      color: var(--c-header-transparent-text);

      @media (--header-breakpoint) {
        color: var(--c-header-transparent-text);
      }
    }

    .is-active.header--transparent & {
      color: var(--c-nav-mobile-text);
    }

    .header--scrolled & {
      color: var(--c-nav-mobile-text);

      @media (--header-breakpoint) {
        color: var(--c-header-text);
      }
    }

    .is-active & {
      @media (--header-breakpoint) {
        color: var(--c-header-text);
      }
    }
  }
}

.social-links--hero-small .social-links__icon a {
  color: var(--coral-pink);
  transition: color var(--duration) var(--ease);

  &:hover {
    color: var(--c-headings);
  }
}
