.star-rating__list {
  align-items: center;
  display: flex;
}

.star-rating__item {
  margin-left: 1px;

  @media (--s) {
    margin-left: 2px;
  }

  &:first-child {
    margin-left: 0;
  }
}

.star-rating__icon {
  height: 18px;
  width: 18px;
  color: var(--black);
}
