.teaser-hero {
  margin-bottom: 50px;

  @media (--s) {
    margin-top: 45px;
    margin-bottom: 60px;
  }

  @media (--m) {
    margin-top: 30px;
    margin-bottom: 100px;
  }
}

.teaser-hero .newsletter__form {
  display: block;

  @media (--s) {
    display: flex;
  }

  @media (--m) {
    max-width: 465px;
  }

  .text-input--newsletter {
    position: relative;
    margin-bottom: 20px;

    @media (--s) {
      margin-bottom: 0;
    }
  }

  .text-input__el {
    @media (--m) {
      height: 50px;
    }
  }

  .text-input__error {
    top: 0;
  }

  .newsletter__btn {
    min-width: 180px;

    @media (--s) {
      margin-left: 15px;
      margin-top: 5px;
    }

    @media (--m) {
      min-width: 160px;
    }
  }
}

.teaser-hero__wrapper {
  @media (--m) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
    align-items: center;
  }

  @media (--xxl) {
    column-gap: 135px;
  }
}

.teaser-hero__content {
  margin-bottom: 30px;

  @media (--s) {
    margin-bottom: 60px;
    max-width: 510px;
  }

  @media (--m) {
    max-width: unset;
  }
}

.teaser-hero__title {
  margin-bottom: 20px;

  @media (--s) {
    margin-bottom: 10px;
  }

  @media (--m) {
    margin-bottom: 20px;
  }
}

.teaser-hero__description {
  margin-bottom: 20px;
}
