.testimonial-card {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.testimonial-card__text {
  margin-top: 15px;
  margin-bottom: 0;

  @media (--m) {
    margin-top: 20px;
  }
}

.testimonial-card__author-image {
  top: 50%;
  left: 50%;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transform: translate3d(-50%, -50%, 0);
}

.testimonial-card__image-wrapper {
  position: relative;
  width: 56px;
  height: 56px;
  margin-top: 25px;
  padding: 6px;
  border: 1px solid var(--grey);
  border-radius: 50%;
}

.testimonial-card__author {
  margin-top: 8px;
}
