.video-popup-player {
  .modal {
    align-items: center;
  }

  .modal__container {
    background-color: transparent;
    height: auto;
    overflow: visible;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 30px;

    @media (--s) {
      width: calc(100% - 85px);
      max-width: 663px;
      transform: translateX(-20px);
    }

    @media (--l) {
      max-width: 824px;
    }

    @media (--xxl) {
      max-width: 984px;
    }
  }

  .modal__close {
    color: var(--white);
    width: 16px;
    height: 16px;
    top: 0;
    right: 10px;
    transition: opacity var(--duration) var(--ease);

    &:hover {
      opacity: 0.8;
    }

    @media (--s) {
      top: 30px;
      right: -26px;
    }

    @media (--m) {
      width: 20px;
      height: 20px;
      right: -30px;
    }

    @media (--l) {
      right: -34px;
    }
  }
}

.modal__player {
  @extend .ratio;

  background-color: var(--black);

  &::before {
    padding-top: 56.5%;
  }

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
