.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.video__el {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  height: 100%;
  width: auto;
  transform: translate(-50%, -50%);
  transition: opacity var(--speed) var(--ease);
  z-index: 1;

  &--is-vue {
    opacity: 0;
  }

  &.is-loaded {
    opacity: 1;
  }

  .video.fit-cover & {
    object-fit: cover;
  }

  .video.fit-contain & {
    object-fit: contain;
  }
}

.video__controls {
  position: absolute;
  z-index: 2;
  left: 15px;
  bottom: 15px;
  display: flex;

  @media (--s) {
    left: 30px;
    bottom: 30px;
  }

  @media (--m) {
    left: 40px;
    bottom: 40px;
  }

  @media (--l) {
    left: 50px;
    bottom: 50px;
  }
}

.video__play-button {
  background-color: var(--c-btn-background);
  color: var(--c-btn-text);
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
  transition: opacity var(--duration) var(--ease) 0.5s;

  .video--no-play-button & {
    display: none;
  }

  .video:hover &,
  &:focus {
    opacity: 1;
    transition: opacity var(--duration) var(--ease) 0s;
  }

  @media (--s) {
    width: 40px;
    height: 40px;
  }

  @media (--m) {
    width: 50px;
    height: 50px;
  }

  &::before {
    content: '';
    box-sizing: border-box;
    width: 0;
    height: 11px;
    border-style: solid;
    border-width: 7px 0 7px 10px;
    border-color: transparent transparent transparent currentColor;
    will-change: border-width;
    transition: border-width var(--duration) var(--ease);

    @media (--s) {
      height: 14px;
      border-width: 8px 0 8px 12px;
    }

    @media (--m) {
      height: 16px;
      border-width: 10px 0 10px 15px;
    }
  }
}

.video__play-button--pause {
  opacity: 0;

  &::before {
    border-width: 0 0 0 10px;
    border-style: double;

    @media (--s) {
      border-width: 0 0 0 12px;
    }

    @media (--m) {
      border-width: 0 0 0 15px;
    }
  }
}

.video__volume-button {
  margin-left: 10px;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 50 50'%3e%3cpath fill='%230B0FD5' fill-rule='evenodd' d='M25 0c13.807 0 25 11.193 25 25S38.807 50 25 50 0 38.807 0 25 11.193 0 25 0z' clip-rule='evenodd'/%3e%3cpath fill='%23fff' d='M29.685 21.49a.999.999 0 00-1.402.147c-.356.44-.272 1.067.167 1.423.565.46.921 1.172.921 1.946 0 .837-.397 1.57-1.025 2.03a.878.878 0 00-.147 1.255l.084.084c.335.398.963.481 1.36.167a4.495 4.495 0 001.716-3.536 4.511 4.511 0 00-1.674-3.516z'/%3e%3cpath fill='%23fff' d='M31.966 18.687c-.419-.335-1.026-.251-1.382.146-.334.419-.292 1.046.126 1.381 1.381 1.151 2.28 2.867 2.28 4.792 0 1.925-.899 3.662-2.28 4.792-.418.335-.46.963-.126 1.381.335.419.963.502 1.382.168A8.116 8.116 0 0035 25.026c-.021-2.574-1.193-4.855-3.034-6.34zM23.846 17.159l-5.084 3.913h-2.49a1.17 1.17 0 00-1.172 1.172v5.524a1.17 1.17 0 001.171 1.172h2.49l5.106 3.913c.9.69 2.177.063 2.177-1.088V18.226c0-1.109-1.298-1.758-2.198-1.067z'/%3e%3c/svg%3e");
  width: 35px;
  height: 35px;
  opacity: 0;
  transition: opacity var(--duration) var(--ease) 0.5s;

  @media (--s) {
    width: 40px;
    height: 40px;
  }

  @media (--m) {
    margin-left: 20px;
    width: 50px;
    height: 50px;
  }

  .video--no-volume-button & {
    display: none;
  }

  .video:hover &,
  &:focus {
    opacity: 1;
    transition: opacity var(--duration) var(--ease) 0s;
  }
}

.video__volume-button--muted {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 50 50'%3e%3cpath fill='%230B0FD5' fill-rule='evenodd' d='M25 0c13.807 0 25 11.193 25 25S38.807 50 25 50 0 38.807 0 25 11.193 0 25 0z' clip-rule='evenodd'/%3e%3cpath fill='%23fff' d='M23.846 17.159l-5.084 3.913h-2.49a1.17 1.17 0 00-1.172 1.172v5.524a1.17 1.17 0 001.171 1.172h2.49l5.106 3.913c.9.69 2.177.063 2.177-1.088V18.226c0-1.109-1.298-1.758-2.198-1.067zM34.316 21.322a.923.923 0 011.401 0 1 1 0 010 1.393l-2.316 2.305 2.316 2.251c.377.43.377 1.072 0 1.448a1.012 1.012 0 01-1.4 0L32 26.414l-2.317 2.305a1.012 1.012 0 01-1.4 0 1.067 1.067 0 010-1.448l2.316-2.25-2.316-2.306a1 1 0 010-1.393.923.923 0 011.4 0L32 23.572l2.316-2.25z'/%3e%3c/svg%3e");
  opacity: 1;
}
