.content--easylockdown {
  padding-top: 40px;
  padding-bottom: 40px;

  @media (--l) {
    padding-top: 120px;
    padding-bottom: 220px;
  }
}

#easylockdown-password-note img {
  max-height: 100px;
}

#easylockdown-password-note h1 {
  max-width: 24ch;
  margin: 20px auto 30px;
}

#easylockdown-password {
  width: auto;
}

a#easylockdown-password-form-button {
  padding: inherit !important;
  margin-top: 5px;
  margin-left: 10px;
  min-width: 90px;
  height: 40px;
  line-height: 33px;

  @media (--s) {
    min-width: 120px;
  }
}
