.globo-formbuilder {
  .spinner {
    display: none;
  }

  .g-container .content {
    min-height: unset !important;

    p {
      margin: 0;
    }

    + p {
      display: none;
    }
  }
}

.globo-form-app .globo-form-control label {
  text-transform: var(--buttons-text-transform) !important;
  font-family: var(--buttons-font-family) !important;
  font-size: var(--buttons-font-size-mobile) !important;
  font-weight: var(--buttons-font-weight) !important;
  letter-spacing: 1px;
  color: var(--coral-pink) !important;
  display: block !important;
  margin-bottom: 10px !important;
  pointer-events: none !important;

  @media (--m) {
    font-size: var(--buttons-font-size) !important;
    letter-spacing: 1.5px !important;
  }

  &.h5 {
    color: inherit !important;
  }

  &.sr-only {
    margin: 0 !important;
  }

  .label-content {
    color: var(--coral-pink) !important;
  }
}
