.loop-returns-activated {
  padding-bottom: 55px;

  @media (--m) {
    padding-bottom: 75px;
  }

  .loop-onstore {
    font-family: var(--buttons-font-family) !important;
    background-color: var(--cobalt-blue) !important;
    height: 55px;

    @media (--m) {
      height: 75px;
      padding: 1.25rem 2rem 1.25rem 5rem;
    }

    .loop-onstore__amount {
      font-family: var(--body-font-family) !important;
      font-weight: 500;
      font-size: 15px;

      @media (--m) {
        font-size: 18px;
      }
    }

    .loop-onstore__copy {
      font-size: 11px;
      margin-top: 3px;

      @media (--m) {
        font-size: 13px;
        margin-top: 5px;
      }
    }

    .loop-onstore__back {
      color: var(--white);
      font-size: 10px;
      line-height: 13px;
      font-weight: 500;
      letter-spacing: 1px;
      text-transform: uppercase;
      border: 1px solid var(--white);
      border-radius: 0;
      background-color: transparent;
      padding: 12px 18px 10px;

      &:hover {
        border-color: var(--disco-green);
        color: var(--white);
        opacity: 1;
      }

      @media (--m) {
        font-size: 11px;
        line-height: 15px;
        padding: 15px 38px;
      }
    }
  }

  /* Overrides for existing elements */

  .cart__footer {
    @media (min-width: 681px) {
      padding-bottom: 55px;
    }

    @media (--m) {
      padding-bottom: 75px;
    }
  }

  .cart__gift-message {
    display: none;
  }
}

/* Moves the Gorgias chat icon up the page to avoid overlap */

#gorgias-chat-container {
  #chat-button {
    .loop-returns-activated & {
      bottom: 45px;

      @media (--m) {
        bottom: 65px;
      }
    }
  }

  #chat-window {
    .loop-returns-activated & {
      bottom: 115px;

      @media (--m) {
        bottom: 145px;
      }
    }
  }
}
