/**
 * Product reviews module
 */
.product-reviews {
  #shopify-product-reviews {
    margin: 5px 0 0;
    overflow: visible;

    @media (--s) {
      margin: 10px 0 0;
    }
  }

  .spr-container {
    padding: 0;
    border: 0;
  }

  .spr-summary {
    text-align: left;

    @media (--xxs) {
      text-align: center;
    }
  }

  .spr-icon {
    font-size: 1.2rem;
  }

  .spr-header-title {
    display: none;
  }

  .spr-summary-actions {
    display: block;
    margin-top: 30px;
  }

  .spr-summary-actions-newreview {
    @extend .btn;
    @extend .btn--primary;

    float: none;
    display: inline-block;
    width: 100%;

    @media (--xxs) {
      width: auto;
      min-width: 163px;
    }
  }

  .spr-review-header-title {
    font-size: 1.5rem; /* 15px */
    font-weight: 700;

    @media (--m) {
      font-size: 1.7rem; /* 17px */
    }
  }

  .spr-review-header-byline,
  .spr-review-content-body {
    font-size: inherit;
  }

  .spr-form-title {
    display: none;
    margin-bottom: 10px;
  }

  .spr-form-message-success {
    padding-top: 31px;
    text-align: center;
  }

  .spr-form-label {
    display: block;
    margin-bottom: 5px;
    font-size: inherit;
  }

  .spr-form-input-text,
  .spr-form-input-email,
  .spr-form-input-textarea {
    font-size: 1.4rem; /* 14px */
    border: 1px solid var(--c-borders);

    @media (--m) {
      font-size: 1.7rem; /* 17px */
    }

    &:focus {
      outline-width: 1px;
      outline-offset: 5px;
      outline-style: solid;
      outline-color: var(--c-focus);
    }

    &::placeholder {
      color: inherit;
    }
  }

  .spr-form-input-text,
  .spr-form-input-email {
    height: 50px;
    padding: 0 15px;
  }

  .spr-form-input-textarea {
    min-height: 200px;
    padding: 15px;
  }

  .spr-button {
    @extend .btn;
    @extend .btn--primary;
  }

  .spr-form-review-rating {
    overflow: visible;
  }

  .spr-pagination {
    padding: 70px 0 50px;

    @media (--l) {
      padding: 107px 0 100px;
    }
  }

  .spr-pagination > div {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .spr-pagination-page {
    padding: 0 6px;
    font-family: var(--body-font-family);
    font-size: 15px;
    opacity: 0.5;

    @media (--l) {
      font-size: 17px;
    }

    &.is-active {
      opacity: 1;
      font-weight: normal;
    }
  }

  .spr-pagination-prev,
  .spr-pagination-next {
    position: relative;
    left: auto;
    right: auto;

    &::before {
      content: '';
      position: absolute;
      display: block;
      top: 50%;
      width: 6px;
      height: 6px;
      border: 1px solid transparent;
    }

    a {
      opacity: 0;
    }
  }

  .spr-pagination-prev::before {
    right: 5px;
    border-left-color: var(--black);
    border-bottom-color: var(--black);
    transform: translate3d(0, -50%, 0) rotate(45deg);
  }

  .spr-pagination-next::before {
    left: 5px;
    border-right-color: var(--black);
    border-bottom-color: var(--black);
    transform: translate3d(0, -50%, 0) rotate(-45deg);
  }

  .spr-summary-starrating,
  .spr-summary-caption {
    display: none;
  }

  .spr-badge-starrating {
    padding: 0 8px 0 0;

    .spr-icon {
      width: 14px;
      height: 14px;
    }

    .spr-icon::before {
      font-size: 100%;
    }
  }

  .spr-badge {
    margin-top: 5px;

    @media (--xxs) {
      margin: 0 0 15px;
    }
  }

  .spr-review:first-child {
    margin-top: 50px;

    @media (--m) {
      margin-top: 55px;
    }
  }
}

/**
 * Product form module
 */
.product-form {
  .spr-badge {
    margin-bottom: 3px;

    @media (--xs) {
      margin-bottom: 7px;
    }
  }

  .spr-badge-starrating {
    margin-right: 5px;

    @media (--xs) {
      margin-right: 10px;
    }
  }

  .spr-badge-caption {
    opacity: 0.5;
  }
}

.product-form--sticky {
  .spr-badge {
    display: none;
  }
}

/**
 * Product card module
 */
.product-card__reviews {
  .spr-badge-caption {
    display: none;
  }
}
