/* stylelint-disable max-nesting-depth */

.product-reviews {
  #stamped-main-widget {
    margin: 0;
  }

  .stamped-container {
    @extend body;
  }

  div[data-widget-style*=standard] {
    div.stamped-container {
      max-width: 1440px;
      margin-top: 0 !important;
      margin-bottom: 0 !important;
    }

    .stamped-summary-starrating {
      vertical-align: super;

      @media (--m) {
        vertical-align: 14px;
      }
    }

    .stamped-summary-starrating i {
      color: var(--coral-pink) !important;

      &::before {
        font-size: 16px !important;

        @media (--m) {
          font-size: 30px !important;
        }
      }
    }

    .summary-rating-title::before {
      color: var(--c-text) !important;

      @media (--m) {
        font-size: 20px !important;
      }
    }

    .summary-rating-bar {
      width: 100px !important;
      height: 10px !important;
      vertical-align: text-top;

      @media (--m) {
        margin-left: 5px;
      }
    }

    .summary-rating-bar > div {
      height: 10px;
    }

    .summary-rating-count {
      color: var(--c-text) !important;
      font-family: var(--buttons-font-family);
      font-size: 11px;
      line-height: 1.36;
      vertical-align: 2px;

      @media (--m) {
        font-size: 13px;
      }
    }

    .stamped-summary-ratings {
      @media (--s) {
        width: 270px !important;
        border-right: 0;
        margin-right: 10px;
      }

      @media (--m) {
        width: 280px !important;
      }
    }

    .stamped-tab-container {
      height: 40px;
    }

    ul.stamped-tabs {
      height: 37px !important;
      border-bottom: 2px solid var(--c-borders);

      @media (--s) {
        height: 38px !important;
      }

      @media (--m) {
        height: 40px !important;
      }

      li {
        font-weight: normal;
        color: var(--c-text);
        height: auto;

        @media (--m) {
          font-size: 15px;
          line-height: 1.47;
        }

        &.active {
          color: var(--c-text) !important;
          border-bottom-width: 2px;
        }
      }
    }

    li#tab-reviews[data-count]::after {
      font-family: var(--buttons-font-family);
      font-size: 13px;
      line-height: 1.46;
      background-color: var(--c-borders);
      padding-top: 3px;
      padding-bottom: 3px;

      @media (--m) {
        padding: 5px 10px;
      }
    }

    .stamped-summary-actions {
      float: none;
      display: flex !important;
      justify-content: center;
    }
  }

  .summary-overview {
    margin-bottom: 24px;

    @media (--s) {
      width: 140px !important;
    }

    @media (--m) {
      width: 240px !important;
    }
  }

  .stamped-summary-photos.stamped-summary-photos-container {
    max-width: 250px;
    min-width: 250px;

    @media (--m) {
      max-width: 370px;
      min-width: 370px;
      margin-bottom: 0;
    }
  }

  .stamped-summary-caption {
    &:last-child {
      display: block !important;
    }

    .stamped-summary-text-1 {
      font-family: var(--headings-font-family);
      font-size: 25px;
      font-weight: normal;
      line-height: 1.2;
      color: var(--c-headings);

      @media (--m) {
        font-size: 45px;
        line-height: 1.24;
        margin-right: 15px;
      }
    }

    .stamped-summary-text {
      font-size: 13px;
      line-height: 1.46;
      margin-top: 0;

      @media (--m) {
        font-size: 15px;
      }
    }
  }

  .stamped-photos-carousel {
    text-align: left;

    .photo.stamped-photo {
      width: 62px;
      height: 62px;
      margin-right: 11px;
      margin-bottom: 10px;

      @media (--m) {
        width: 85px;
        height: 85px;
        margin-right: 5px;
        margin-bottom: 5px;
      }
    }
  }

  .stamped-header {
    .stamped-review-options {
      background-color: rgba(var(--newspaper), 0.5);

      ul li {
        margin-bottom: 9px;

        @media (--s) {
          width: 240px;
          margin-right: 35px;
        }

        @media (--m) {
          width: 200px;
          margin-right: 40px;
        }
      }
    }

    .stamped-review-option-title {
      text-align: left;

      @media (--m) {
        font-size: 15px;
        line-height: 1.47;
      }
    }

    .stamped-review-option-scale {
      background-color: transparent;
      border-color: rgba(var(--asphalt), 0.5);
      height: 10px;
      margin-top: 5px;
      margin-bottom: 5px;

      i {
        background-color: rgba(var(--asphalt), 0.5);
      }

      span {
        background-color: var(--c-text);
        width: 10px;
        height: 14px;
        border-radius: 0;
      }
    }

    .stamped-review-option-labels {
      font-family: var(--buttons-font-family);
      font-size: 11px;
      line-height: 1.36;

      @media (--m) {
        font-size: 13px;
        margin-top: 10px;
      }
    }
  }

  .stamped-summary-actions-newreview {
    border-color: var(--c-headings);
    border-radius: 0;
    width: auto;
    min-width: 180px;
    font-family: var(--buttons-font-family);
    font-size: var(--buttons-font-size-mobile);
    font-weight: var(--buttons-font-weight);
    text-transform: var(--buttons-text-transform);
    letter-spacing: 1px;
    color: var(--c-headings);
    padding-top: 2px;
    padding-bottom: 2px;

    &::before {
      content: none;
    }

    @media (--m) {
      min-width: 200px;
      height: 45px;
      font-size: 11px;
      line-height: 41px;
      letter-spacing: 1.5px;
    }
  }

  .stamped-reviews-filter[data-show-filters=true] {
    @media (--s) {
      padding-bottom: 20px;
    }

    .stamped-reviews-filter-label {
      font-weight: normal;

      @media (--m) {
        font-size: 15px;
      }
    }

    .stamped-reviews-search-text {
      margin-top: 5px;
    }

    .stamped-reviews-search-icon.stamped-fa.stamped-fa-search {
      left: 10px;
      opacity: 0.7;
    }

    .stamped-reviews-search-input {
      font-family: var(--buttons-font-family);
      font-size: 11px;
      padding-left: 40px;
      border-radius: 0;
      border-color: var(--c-borders) !important;

      @media (--s) {
        max-width: 275px;
      }

      @media (--m) {
        max-width: 336px;
        height: 40px;
        font-size: 15px;
      }
    }

    .stamped-summary-actions-mobile-filter {
      border-color: var(--c-headings);
      border-radius: 0;
      width: auto;
      min-width: 180px;
      font-family: var(--buttons-font-family);
      font-size: var(--buttons-font-size-mobile);
      font-weight: var(--buttons-font-weight);
      text-transform: var(--buttons-text-transform);
      letter-spacing: 1px;
      color: var(--c-headings);
      padding-top: 2px;
      padding-bottom: 2px;

      i {
        display: none;
      }
    }
  }

  .stamped-review {
    padding-top: 20px;
    margin-bottom: 0;
  }

  .stamped-review-avatar {
    text-shadow: none;

    @media (--m) {
      margin-right: 15px;
    }
  }

  [data-widget-style=standard2] .stamped-review-avatar-content {
    width: 35px;
    height: 35px;
    font-family: var(--buttons-font-family);
    font-size: 9px;
    line-height: 1.33;

    @media (--m) {
      width: 50px;
      height: 50px;
      font-size: 12px;
    }
  }

  .stamped-review-header {
    .created,
    .author {
      line-height: 35px;

      @media (--m) {
        line-height: 50px;
      }
    }

    .author {
      @media (--m) {
        font-size: 18px;
      }
    }

    .created {
      font-family: var(--buttons-font-family);
      font-size: 11px;
      color: var(--c-text);

      @media (--m) {
        font-size: 13px;
        opacity: 0.5;
      }
    }
  }

  [data-widget-style=standard2] .stamped-review-header-title {
    font-weight: normal;
    vertical-align: 1px;

    @media (--m) {
      font-size: 18px;
      vertical-align: 3px;
    }
  }

  [data-widget-style=standard2] .stamped-review-content {
    @media (--m) {
      margin-top: 20px;
    }
  }

  p.stamped-review-content-body {
    font-size: 13px;

    @media (--m) {
      font-size: 15px;
      margin-top: 5px;
    }
  }

  .stamped-fa-star::before {
    @media (--m) {
      font-size: 20px;
    }
  }

  [data-widget-style=standard2] .stamped-reviews .stamped-review-options:not(:empty) {
    margin-top: 15px !important;
  }

  .stamped-reviews .stamped-review-options {
    ul li {
      max-width: calc(33% - 20px);

      @media (--s) {
        margin-bottom: 20px;
      }

      @media (--m) {
        flex-basis: 110px;
      }

      &[data-title=fit],
      &[data-title=true-to-size] {
        flex-basis: 240px;
        max-width: unset;

        @media (--s) {
          margin-right: 25px;
        }

        @media (--m) {
          flex-basis: 200px;
          margin-right: 40px;
        }
      }

      > span {
        margin-top: 6px;
        font-family: var(--buttons-font-family);
        font-size: 11px;
        line-height: 1.36;

        @media (--m) {
          font-size: 13px;
        }
      }
    }

    strong {
      font-size: 13px;
      line-height: 1.46;

      @media (--m) {
        font-size: 15px;
      }
    }
  }

  .stamped-review-option-scale-wrapper {
    background-color: transparent;
    border-color: rgba(var(--asphalt), 0.5);
    height: 10px;
    margin-top: 5px;
    margin-bottom: 5px;

    i {
      background-color: rgba(var(--asphalt), 0.5);
    }

    span {
      background-color: var(--c-text);
      width: 10px;
      height: 14px;
      border-radius: 0;
    }
  }

  .stamped-review-option-labels {
    font-family: var(--buttons-font-family);
    font-size: 11px;
    line-height: 1.36;
  }

  .stamped-review-footer {
    margin-top: 10px;
  }

  .stamped-container .stamped-review-image img {
    height: 90px !important;
  }

  .new-review-form {
    input {
      appearance: auto;
    }

    input[type="text"],
    input[type="email"] {
      @media (--m) {
        height: 40px;
      }
    }

    .stamped-form-custom-option-scale label {
      width: 70px;
      margin-top: -8px;

      @media (--m) {
        margin-top: -10px;
      }
    }
  }

  #stamped-sort-select,
  #stamped-sort-select2,
  select {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='12' height='7' viewBox='0 0 12 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M10.9241 0.503906L6.00032 5.39404L1.34432 0.503906' stroke='%234E4E4A'/%3e%3c/svg%3e") !important;
    padding-right: 30px !important;
    background-position: calc(100% - 10px);
    border-radius: 0;
    border-color: var(--c-borders) !important;
    font-family: var(--buttons-font-family);
    font-size: 13px;
    margin-right: 0;
    min-width: calc(100% - 2px);
    height: 35px;
    line-height: 35px;
    max-width: unset !important;

    @media (--s) {
      min-width: 115px;
      margin-right: 9px;
    }

    @media (--m) {
      height: 45px;
      line-height: 45px;
      min-width: 165px;
      font-size: 15px;
    }
  }

  .stamped-sort-select2-wrapper {
    width: 100%;

    @media (--s) {
      width: auto;
    }
  }

  #stamped-button-submit {
    background: var(--c-headings);
    padding: 5px 20px;
    min-width: 180px;
  }

  .stamped-form-label,
  label[class^="customFormOption-"] {
    margin-bottom: 5px;
    display: block;
    color: var(--c-text);
    font-size: 13px;

    @media (--m) {
      font-size: 15px;
    }
  }

  .stamped-form-review-rating input {
    width: 0 !important;
    height: 0 !important;
  }
}

.stamped-product-reviews-badge {
  margin-bottom: 10px;

  .stamped-fa-star::before,
  .stamped-fa-star-o::before {
    color: var(--c-text);
  }

  .stamped-badge-caption {
    font-family: var(--buttons-font-family);
    font-size: 11px;
    line-height: 1.36;
    margin-left: 2px;
    position: relative;

    &:not([data-reviews='0'])::before {
      content: '(';
    }

    &[data-reviews][data-label][data-version="2"]:not([data-reviews='0'])::after {
      content: ')' !important;
    }

    @media (--m) {
      font-size: 13px;
      margin-left: 5px;
    }

    span::before {
      content: '';
      display: block;
      position: absolute;
      height: 1px;
      width: 76%;
      left: 12%;
      bottom: 0;
      background-color: rgba(var(--asphalt), 0.5);
    }
  }
}

/* stylelint-enable max-nesting-depth */
