<script src="/services/javascripts/countries.js"></script>
<div class="container container--xl page-bottom-spacing">
  <a class="p1 mx0 underline account-nav__link account-nav__link--logout" href="/account/logout">{{ 'customer.account.logout' | t }}</a>
</div>
<div class="container container--m page-bottom-spacing">
  {%- render 'account-nav' -%}
  {%- render 'account-address' -%}
</div>
