<div class="container container--xl">
  {%- render 'article-hero', blocks: section.blocks -%}
</div>

{% schema %}
  {
    "name": "Article Hero - Social",
    "blocks":[
      {
        "type": "social_media",
        "name": "Social Media",
        "settings":[
          {
            "type": "text",
            "id": "title",
            "label": "Title"
          }
        ]
      }
    ],
    "default": {
      "blocks": [
        {
          "type": "social_media",
          "settings": {
            "title": "Twitter"
          }
        },
        {
          "type": "social_media",
          "settings": {
            "title": "Facebook"
          }
        },
        {
          "type": "social_media",
          "settings": {
            "title": "Email"
          }
        }
      ]
    }
  }
{% endschema %}
