{%- assign sidebar = section.settings.sidebar | default: nil -%}
{%- assign subject_options = section.settings.subject_options | newline_to_br | split: '<br />' | default: nil -%}

<section class="contact-form rel" data-module="contact-form">
  <div class="container rel contact-form__container">
    <div class="contact-form__header align-c">
      <h2 class="h2 contact-form__title">
        {{- page.title -}}
      </h2>
      {%- if page.content != blank -%}
        <div class="contact-form__description">
          {{- page.content -}}
        </div>
      {%- endif -%}
    </div>
    {%- if section.settings.enable_section -%}
      <div class="contact-form__inner">
        <div class="contact-form__left">
          {%- render 'contact-form', subject_options: subject_options -%}
        </div>
        {%- if sidebar != blank -%}
          <div class="contact-form__right rte">
            {{ sidebar }}
          </div>
        {%- endif -%}
      </div>
    {%- endif -%}
  </div>
</section>

{% schema %}
{
  "name": "Contact Form",
  "settings": [
    {
      "type": "checkbox",
      "id": "enable_section",
      "label": "Enable this Section",
      "default": true
    },
    {
      "type": "richtext",
      "id": "sidebar",
      "label": "Sidebar",
      "default": "<p>Contact Us</p>"
    },
    {
      "type": "textarea",
      "id": "subject_options",
      "label": "Subject Drop Down",
      "info": "Each subject on a new line"
    }
  ]
}
{% endschema %}
