{%- assign include_assets = true -%}
{%- if include_assets -%}
  {{ 'section-featured-products.css' | asset_url | stylesheet_tag }}
  <script src="{{ 'section-featured-products.js' | asset_url }}"></script>
{%- endif -%}

<section class="container">
  {% render 'page-title'
    title: section.settings.title
  %}
  <div
    data-module="product-list"
    class="grid grid--4 featured-products"
  >
    {%- for item in section.blocks -%}
      {%- assign product_handle = item.settings.product -%}
      {%- assign product_data = all_products[product_handle] -%}
      {%- capture product_json -%}
        {%- render 'product-json-meta' item: product_data -%}
      {%- endcapture -%}
      {%- render 'product-card',
        product: product_json,
        class: 'grid__item'
      -%}
    {%- endfor -%}
  </div>
  </section>

{% schema %}
  {
    "name": "Featured Product",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "Featured Product"
      }
    ],
    "blocks": [
      {
        "type": "product",
        "name": "Product",
        "settings": [
          {
            "type": "product",
            "id": "product",
            "label": "Product"
          }
        ]
      }
    ]
  }
{% endschema %}
