{%- assign main = section.settings -%}
{%- assign main_links_left = linklists['main-menu'].links | default: false -%}
{%- assign main_links_right = linklists['secondary-menu'].links | default: false -%}

<header class="header-mega js-header js-mobile-content" id="header" data-module="header-mega">

  {%- render 'promo-bar' -%}

  <div class="header-mega__main header-mega__container">
    <span class="header__btn-mobile js-btn-mobile">
      <span role="img" class="header__btn-mobile-el"></span>
    </span>
    <a class="header-logo js-logo-link" href="/" title="{{ shop.name }}">
      <div class="header-logo__main">
        {%- comment -%} {%- render 'logo' with 'barrel' -%} {%- endcomment -%}
        <p>Brand Logo Here</p>
      </div>
      <span class="hidden">{{ shop.name }}</span>
    </a>

    <nav class="header-mega__nav js-nav">
      <div class="header-mega__nav__container">
        <ul class="header-mega__nav__list header-mega__nav__list--left">
          {% include 'header-mega-menu-block', menu_links: main_links_left %}
        </ul>

        <ul class="header-mega__nav__list header-mega__nav__list--right">
          {% include 'header-mega-menu-block', menu_links: main_links_right %}
        </ul>

        <div class="header-mega__nav__mobilefooter">
          <ul class="header__mega__nav__mobilefooter__links">
            <li class="header-side__item">
              <a class="header-side__link a1 js-side-link" title="Login" href="/login">
                Login
              </a>
            </li>
            {%- render 'header-wishlist-icon' -%}
          </ul>
        </div>
      </div>
    </nav>

    <div class="header-side">
      <ul class="header-side__list header-side__list--one">
        <li class="header-side__item">
          <a class="header-side__link a1 js-side-link" title="Login" href="/login">
            Login
          </a>
        </li>

        {%- render 'header-wishlist-icon' -%}
      </ul>

      <ul class="header-side__list header-side__list--two">
        {%- render 'header-search-icon' -%}

        {%- render 'header-cart-icon', count: cart.item_count -%}
      </ul>
    </div>
  </div>
  {%- render 'header-search' -%}
</header>

{%- assign main = nil -%}
{%- assign main_link = nil -%}
{%- assign scope = nil -%}

{% schema %}
{
  "name": "Header",
  "settings": [
    {
      "type": "header",
      "content": "Header Navigation"
    },
    {
      "type": "link_list",
      "id": "main_menu_left",
      "label": "Main Navigation Left"
    },
    {
      "type": "link_list",
      "id": "main_menu_right",
      "label": "Main Navigation Right"
    }
  ]
}
{% endschema %}
