{%- if section.settings.enable_section -%}
  {%- render 'hero-small',
    is_dynamic: true,
    type: 'heroType',
    inverted_mode: 'heroInvertedMode',
    enable_overlay: 'heroEnableOverlay',
    overlay_opacity: 'heroOverlayOpacity',
    hero_style: 'heroStyle',
    title: 'collection.title',
    description: 'collection.description',
    breakpoints: 'heroBreakpoints',
    image_sources: 'heroSources',
    background_color: 'heroBackgroundColor',
    video: 'heroVideo',
    video_s: 'heroVideoSmall',
    video_l: 'heroVideoLarge',
    content_alignment: 'heroContentAlignment',
    text_alignment: 'heroTextAlignment',
    fallback: 'heroImageMobile',
    fallback_s: 'heroImageIntermediate',
    fallback_l: 'heroImage' -%}

  <div
    ref="plp-hero-settings"
    data-settings='{%- render 'hero-small-json',
      section_settings: section.settings,
      section_blocks: section.blocks -%}'></div>
{%- endif -%}

{% schema %}
{
  "name": "Collection Hero",
  "settings": [
    {
      "type": "checkbox",
      "id": "enable_section",
      "label": "Enable this Section",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "inverted_mode",
      "label": "Inverted mode"
    },
    {
      "type": "checkbox",
      "id": "enable_overlay",
      "label": "Enable overlay"
    },
    {
      "type": "range",
      "id": "overlay_opacity",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "label": "Overlay opacity",
      "default": 50
    },
    {
      "type": "header",
      "content": "Default Hero",
      "info": "Default content for all collections (Fallback to these settings if none are defined on a per collection basis)."
    },
    {
      "type": "select",
      "id": "hero_style",
      "label": "Hero Style",
      "options": [
        {
          "value": "2-up",
          "label": "2 Up"
        },
        {
          "value": "fullwidth-image",
          "label": "Full Width Image"
        },
        {
          "value": "fullwidth-video",
          "label": "Full Width Video"
        },
        {
          "value": "fullwidth-color",
          "label": "Full Width Color"
        },
        {
          "value": "none",
          "label": "None"
        }
      ],
      "default": "2-up"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background Color",
      "default": "transparent",
      "info": "Used with '2-up' and 'Full Width Color' styles."
    },
    {
      "type": "image_picker",
      "id": "image_mobile",
      "label": "Image (Mobile)",
      "info": "Upload a JPEG of ~ 700px."
    },
    {
      "type": "image_picker",
      "id": "image_intermediate",
      "label": "Image (Intermediate)",
      "info": "Upload a JPEG of ~ 1200px."
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image (Desktop)",
      "info": "Upload a JPEG of ~ 2160px."
    },
    {
      "type": "url",
      "id": "video",
      "label": "Video URL (Mobile)",
      "info": "MP4 url. E.g. MP4 link from Vimeo Pro."
    },
    {
      "type": "url",
      "id": "video_s",
      "label": "Video URL (Intermediate)",
      "info": "MP4 url. E.g. MP4 link from Vimeo Pro."
    },
    {
      "type": "url",
      "id": "video_l",
      "label": "Video URL (Desktop)",
      "info": "MP4 url. E.g. MP4 link from Vimeo Pro."
    },
    {
      "type": "select",
      "id": "content_alignment",
      "label": "Content Alignment",
      "options": [
        {
          "value": "bottom-left",
          "label": "Bottom Left"
        },
        {
          "value": "bottom-center",
          "label": "Bottom Center"
        },
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        }
      ],
      "default": "bottom-left"
    },
    {
      "type": "select",
      "id": "text_alignment",
      "label": "Text Alignment",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        }
      ],
      "default": "left"
    }
  ],
  "blocks": [
    {
      "type": "collection-hero",
      "name": "Collection Hero",
      "settings": [
        {
          "type": "collection",
          "id": "collection",
          "label": "Collection"
        },
        {
          "type": "checkbox",
          "id": "inverted_mode",
          "label": "Inverted mode"
        },
        {
          "type": "checkbox",
          "id": "enable_overlay",
          "label": "Enable overlay"
        },
        {
          "type": "range",
          "id": "overlay_opacity",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "%",
          "label": "Overlay opacity",
          "default": 50
        },
        {
          "type": "select",
          "id": "hero_style",
          "label": "Hero Style",
          "options": [
            {
              "value": "2-up",
              "label": "2 Up"
            },
            {
              "value": "fullwidth-image",
              "label": "Full Width Image"
            },
            {
              "value": "fullwidth-video",
              "label": "Full Width Video"
            },
            {
              "value": "fullwidth-color",
              "label": "Full Width Color"
            }
          ],
          "default": "2-up"
        },
        {
          "type": "color",
          "id": "background_color",
          "label": "Background Color",
          "default": "transparent"
        },
        {
          "type": "image_picker",
          "id": "image_mobile",
          "label": "Image (Mobile)",
          "info": "Upload a JPEG of ~ 700px. Override featured collection image on mobile."
        },
        {
          "type": "image_picker",
          "id": "image_intermediate",
          "label": "Image (Intermediate)",
          "info": "Upload a JPEG of ~ 1200px. Override featured collection image on intermediate screens."
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image (Desktop)",
          "info": "Upload a JPEG of ~ 2160px."
        },
        {
          "type": "url",
          "id": "video",
          "label": "Video URL (Mobile)",
          "info": "MP4 url. E.g. MP4 link from Vimeo Pro."
        },
        {
          "type": "url",
          "id": "video_s",
          "label": "Video URL (Intermediate)",
          "info": "MP4 url. E.g. MP4 link from Vimeo Pro."
        },
        {
          "type": "url",
          "id": "video_l",
          "label": "Video URL (Desktop)",
          "info": "MP4 url. E.g. MP4 link from Vimeo Pro."
        },
        {
          "type": "select",
          "id": "content_alignment",
          "label": "Content Alignment",
          "options": [
            {
              "value": "bottom-left",
              "label": "Bottom Left"
            },
            {
              "value": "bottom-center",
              "label": "Bottom Center"
            },
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            }
          ],
          "default": "bottom-left"
        },
        {
          "type": "select",
          "id": "text_alignment",
          "label": "Text Alignment",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            }
          ],
          "default": "left"
        }
      ]
    }
  ]
}
{% endschema %}
