{%- assign fields = page.metafields.lookbook_flex -%}
{%- assign collection_handles = page.metafields.lookbook.collections | split: '|' -%}

<div class="lookbook-flex">
  <div class="lookbook-flex__container f fdc">
    {%- render 'flex-lookbook',
      fields: fields,
      collection_handles: collection_handles,
      default_subtitle: section.settings.lookbook_subtitle,
      default_aspect_ratio: section.settings.lookbook_aspect_ratio
    -%}

    {%- render 'flex-scrolling-image',
      fields: fields
    -%}

    {%- render 'flex-quote',
      fields: fields
    -%}
  </div>
</div>

{% schema %}
  {
    "name": "Flex Lookbook",
    "settings": [
      {
        "type": "header",
        "content": "Lookbook"
      },
      {
        "type": "text",
        "id": "lookbook_subtitle",
        "label": "Default Subtitle",
        "default": "Shop The Look"
      },
      {
        "type": "text",
        "id": "lookbook_aspect_ratio",
        "label": "Default Aspect Ratio",
        "default": "1.1444"
      }
    ]
  }
{% endschema %}
