{%- render 'flex-hero', fields: page.metafields.flex_hero -%}

<div class="page-flex f fdc">
  {%- render 'flex-text-and-image', fields: page.metafields.flex_text_and_image -%}
  {%- render 'flex-content-grid', fields: page.metafields.flex_content_grid -%}
  {%- render 'flex-full-width', fields: page.metafields.flex_full_width -%}
</div>
