{%- assign icon = section.settings.icon -%}
{%- assign title = section.settings.title -%}

<div class="page-404">
  <div class="container page-404__container">
    {%- if icon != blank -%}
      {%- assign aspect_ratio = icon.aspect_ratio -%}
      {%- assign sources = icon | img_url: 'master' -%}
      <div class="page-404__icon ratio aspect-ratio" style="--aspect-ratio: {{- aspect_ratio -}}">
        {%- render 'picture',
          class: 'page-404__icon-image'
          sources: sources,
          alt: icon.alt,
          object_fit: 'cover',
          loader: false
        -%}
      </div>
    {%- endif -%}

    {%- if title != blank -%}
      <h2 class="h2 page-404__title">
        {{- title -}}
      </h2>
    {%- endif -%}
  </div>
</div>

{% schema %}
  {
    "name": "Page 404",
    "settings": [
      {
        "type": "image_picker",
        "id": "icon",
        "label": "Icon Image"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      }
    ]
  }
{% endschema %}
