{%- assign fields = product.metafields.features -%}
{%- assign has_features = false -%}

{%- for enable in fields.enable -%}
  {%- if enable != blank -%}
    {%- assign has_features = true -%}
    {% break %}
  {%- endif -%}
{%- endfor -%}

{%- if has_features -%}
  <div class="product-features">
    {%- for enable in fields.enable -%}
      {%- if enable != blank -%}
        {%- assign image = fields.image[forloop.index0] -%}
        {%- assign image_intermediate = fields.image_intermediate[forloop.index0] -%}
        {%- assign image_mobile = fields.image_mobile[forloop.index0] -%}

        {%- if image -%}
          {%- assign image_alt = image[0].alt -%}
          {%- assign image = image[0].src -%}
        {%- endif -%}

        {%- if image_intermediate -%}
          {%- assign image_intermediate = image_intermediate[0].src -%}
        {%- endif -%}

        {%- if image_mobile -%}
          {%- assign image_mobile = image_mobile[0].src -%}
        {%- endif -%}

        {%- capture image_sources -%}
        {%- if image_mobile != blank -%}
          {{- image_mobile -}}
        {%- endif -%}
        {%- if image_intermediate != blank -%}
          |{{- image_intermediate -}}
        {%- endif -%}
        {%- if image != blank -%}
          |{{- image -}}
        {%- endif -%}
      {%- endcapture  -%}

      {%- capture breakpoints -%}
        {%- if image_mobile != blank -%}
          (max-width: 767px)
        {%- endif -%}
        {%- if image_intermediate != blank -%}
          |(max-width: 999px)
        {%- endif -%}
        {%- if image != blank -%}
          |(min-width: 1000px)
        {%- endif -%}
      {%- endcapture  -%}

        {%- render 'text-and-image',
          inverted_mode: fields.inverted_mode[forloop.index0],
          media_type: fields.media_type[forloop.index0],
          image_sources: image_sources,
          breakpoints: breakpoints,
          image_alt: image_alt,
          video: fields.video[forloop.index0],
          video_s: fields.video_s[forloop.index0],
          video_l: fields.video_l[forloop.index0],
          fallback: image_mobile,
          fallback_s: image_intermediate,
          fallback_l: image,
          tagline: fields.tagline[forloop.index0],
          title: fields.title[forloop.index0],
          text: fields.text[forloop.index0],
          cta_url: fields.cta_url[forloop.index0],
          cta_text: fields.cta_text[forloop.index0],
          content_alignment: fields.content_alignment[forloop.index0],
          text_alignment: fields.text_alignment[forloop.index0]
        -%}
      {%- endif -%}
    {%- endfor -%}
  </div>
{%- endif -%}
