<div class="gutter">
  <div class="grid"
    style="background-image: url({{ section.settings.image | image_url: width: 1440 }}); color: white;"
  >
    <div class="h1 column column--10 gutter">{{ section.settings.title }}</div>
  </div>
</div>

{% schema %}
{
  "name": "Video",
  "tag": "section",
  "class": "video",
  "settings": [
    {
      "label": "Title",
      "id": "title",
      "type": "text"
    },
    {
      "label": "Image",
      "id": "image",
      "type": "image_picker"
    },
    {
      "label": "Video",
      "id": "video",
      "type": "video_url",
      "accept": [
        "youtube",
        "vimeo"
      ]
    }
  ]
}
{% endschema %}
