.card {
  margin-bottom: 16px;
}

.card--carousel {
  width: 25%;
  padding: 0 16px;
}

.card__image {
  position: relative;
  @mixin aspect 1, 1;
}

.card__inner {
  @mixin flex-vertical stretch, stretch, nowrap;
  position: relative;
  height: 100%;
}

.card__label,
.card__content {
  text-align: center;
}

.card__content {
  @mixin flex-vertical center, space-between;
  flex: 1 0 auto;
}

.card__content-inner {
  width: 100%;
}

.card__description {
  width: 100%;
  margin-top: auto;
}

.card__title {
  width: 100%;
  margin: 15px 0;
}

.card__title-link {
  @mixin anchor-decoration;
  display: block;
  text-transform: none;

  &:hover {
    color: inherit;
  }
}

.card__button {
  min-width: 0;
  margin-top: 15px;
}

.card--product {
  position: relative;

  & .card__title-link {
    min-height: 38px;
  }

  & .card__inner {
    text-align: center;
  }
}
