@import "../../styles/main.css";

.styleguide__image {
  width: 500px;
  position: relative;
}

.style-guide__section {
  padding: 57px 0;

  &:nth-child(2n+1) {
    background: var(--c-white-1);
  }
}

.style-guide__section-header {
  @mixin h4;

  margin-bottom: 18px;
  border-bottom: 1px solid var(--c-gray-1);
  width: 100%;
  padding-bottom: 12px;
  text-transform: uppercase;
}

.style-guide__section-title {
  margin: 30px 0 12px;
  text-transform: uppercase;
  color: var(--c-black);
}

.style-guide__section-heading {
  margin-bottom: 30px;
}

.style-guide__colours-data {
  margin-top: 30px;
}

.style-guide__colours-headline {
  color: var(--c-black);
}

.style-guide__colours-wrapper {
  @mixin flex-horizontal flex-start, flex-start;

  margin-top: 16px;
}

.style-guide__colours-background {
  border-radius: 5px;
  width: 80px;
  height: 80px;
  background: var(--c-gray-2);
}

.style-guide__colours-background--primary {
  background: var(--c-black);
}

.style-guide__colours-background--secondary {
  background: var(--c-green);
}

.style-guide__colours-background--heading {
  background: var(--c-black);
}

.style-guide__colours-background--body {
  background: var(--c-black);
}

.style-guide__colours-background--link {
  background: var(--c-blue);
}

.style-guide__colours-background--border {
  background: var(--c-gray-1);
}

.style-guide__colours-background--error {
  background: var(--c-red);
}

.style-guide__colours-background--white {
  border: 1px solid var(--c-gray-1);
  background: var(--c-white);
}

.style-guide__colours-content {
  flex: 1 1 0;
  margin-left: 18px;
}

.style-guide__colours-label {
  margin-top: 8px;
}
