.styleguide__image {
  @mixin aspect 1, 1;
  width: 500px;
  position: relative;
}

.style-guide__section {
  margin: 33px 0;
}

.style-guide__section-header {
  width: 100%;
  padding: 14px 0;
  background: var(--c-white-1);
}

.style-guide__section-header-title {
  @mixin typo-custom-3;

  text-transform: uppercase;
}

.style-guide__section-title {
  @mixin label-focus;

  margin: 30px 0 12px;
  text-transform: uppercase;
  color: var(--c-gray-1);
}

.style-guide__section-heading {
  margin-bottom: 24px;
}

.style-guide__colours-data {
  margin-top: 30px;
}

.style-guide__colours-headline {
  color: var(--c-black);
}

.style-guide__colours-wrapper {
  @mixin flex-horizontal flex-start, flex-start;

  width: 100%;
  margin-top: 24px;
}

.style-guide__colours-background {
  border-radius: 5px;
  width: 80px;
  height: 80px;
}

.style-guide__colours--primary {
  background: var(--c-blue-1);
}

.style-guide__colours--secondary {
  background: var(--c-orange);
}

.style-guide__colours--heading {
  background: var(--c-blue-1);
}

.style-guide__colours--body {
  background: var(--c-text);
}

.style-guide__colours--link {
  background: var(--c-link);
}

.style-guide__colours--background {
  background: var(--c-background);
}

.style-guide__colours--overlay {
  background: var(--c-overlay);
}

.style-guide__colours--border {
  background: var(--c-border);
}

.style-guide__colours--error {
  background: var(--c-error);
}

.style-guide__colours-content {
  flex: 1 1 0;
  margin: auto 18px;
}

.style-guide__colours-label {
  margin-top: 8px;
}

.style-guide__group {
  margin-bottom: 15px;

  & h4 {
    text-transform: none;
    margin-bottom: 10px;
  }
}

.panel-wrapper {
  position: relative;
  border: 1px solid #CCCCCC;
  width: 250px;
  height: 400px;
  overflow: hidden;
}

.menu-item {
  display: block;
}

.sample-image {
  position: relative;
  @mixin aspect 3, 2;
}
